[2017-06-02 20:05] alzaia opened #2 "Implement batch normalization on the network"

[2017-06-02 20:05] alzaia opened #3 "Explore performance with different mini-batch sizes"

[2017-06-02 20:07] alzaia opened #4 "Weights optimization"
- What is the best way to weight our mask labels (axon, myelin, bg)?
- Explore various weight models and check performance

[2017-06-02 20:07] alzaia opened #5 "Implement early stopping (to avoid overfitting)"

[2017-06-02 20:09] alzaia opened #6 "Look for other strategies to avoid overfitting"
Since we currently have a small amount of training data, it would be relevant to check overfitting approaches more in depth.

[2017-06-02 20:10] alzaia opened #7 "Explore with smaller patch size"
- Go from 256 to 128
- Or keep the same patch size (256) but use stride

[2017-06-02 20:12] alzaia opened #8 "Explore impact of data augmentation sequence of transformations in performance"
- Check each data augmentation strategy currently used
- Validate its relevance for our case (realistic outputs?)
- Check combinations of transformations (our current model)
- Maybe add new ones

[2017-06-02 20:14] alzaia opened #9 "Explore noise addition to inputs or data aug."
- which noise model is the better in our case
- add noise to the input directly OR include it in the data augmentation?

[2017-06-02 20:15] alzaia opened #10 "Explore ensembles (combine several models for a better prediction)"

[2017-06-02 20:16] alzaia opened #11 "Implement better performance metrics visualization during training"
- graphs with tensor board following loss and accuracy progression

[2017-06-02 20:19] alzaia opened #12 "Implement tools for axon-wise morphology metrics extraction based on output segmentation"
- similar structure to the AxonSegPy axonlist class structure
- how to extract myelin objects from output
- stats evaluation method : aggregated vs axon per axon

At the end, save the computed metrics as follows:

- add a flag for hdf5 output that contains already computed stats (diameter, circularity, solidity, centroid and g-ratio per axon)

[2017-06-02 20:19] alzaia opened #13 "Explore dropout value"
- we currently use 0.75
- papers suggest 0.5 for hidden units and 0.1-0.3 for input layer

[2017-06-02 20:20] alzaia opened #14 "Post processing of the deep learning prediction if needed"
- if holes in axons or myelin
- only needed if model is not good enough

[2017-06-02 20:22] alzaia opened #15 "Port to Keras for better abstraction and readability"
- todo after param optimization on current tensor flow code

[2017-06-02 20:22] alzaia opened #16 "Port to TF 1.1 and test"
- currently done by maxime, to test

[2017-06-02 20:26] alzaia opened #17 "Check for solutions for the patch edges problem"
Suggestions:

- use overlapping sliding window technique for the patch generation
- no need to apply it on small patches during testing time
- use different patch size for prediction and then combine overall results
- in input, enlarge the image (or patch) with mirroring at the edges (just 1 or 2 pixels padding)

[2017-06-02 20:51] maxwab opened #18 "Optimize the patch generation in the training set"
- Use the x and y position of a patch instead of cropping and saving each patch

[2017-06-08 19:39] alzaia opened #19 "Try Dice instead of cross entropy in optimization"

[2017-06-08 20:10] #16 closed, assigned to maxwab

[2017-06-08 20:21] #11 closed, assigned to maxwab

[2017-06-22 16:04] #2 closed, assigned to maxwab

[2017-07-19 20:04] #3 closed, assigned to maxwab

[2017-08-09 20:31] tanguyduval opened #20 "[Project] Axon orientation"
Would be interesting to look at fibers orientation and generate maps.
To get fiber orientation histogram:
[code]

![image](https://user-images.githubusercontent.com/7785316/29142476-11fc4382-7d20-11e7-9b3b-17261a5a99c7.png)

From that we should find the peak and compute std. Get a max angle. create maps.

[2017-08-09 20:37] tanguyduval opened #21 "Add blurring in data augmentation"
Some regions suffer from bad focus which bias the results: much fewer small axons detected.
Would be nice to detect that.

Bad Focus:
![image](https://user-images.githubusercontent.com/7785316/29142663-9b8e14ae-7d20-11e7-964f-ac32c7a8bdd1.png)

On Focus:
![image](https://user-images.githubusercontent.com/7785316/29142707-c26fbe88-7d20-11e7-9f2f-65d0f35c7548.png)

[2017-08-09 20:39] tanguyduval opened #22 "[Project] Correct statistics"
Assuming constant functions:
- Sensibility = f(diameter)
- Specificity = f(diameter)
(e.g. Sensibility is worse on small axons)

Correct the Mean axon diameter.

[2017-08-09 21:13] tanguyduval opened #23 "[Project] G-ratio vs diameter"
Human data present two clusters of g-ratio VS diameter:
![image](https://user-images.githubusercontent.com/7785316/29142985-9c904d76-7d21-11e7-8a73-964e18e52979.png)

Why??
large g-ratio

![image](https://user-images.githubusercontent.com/7785316/29144142-dbbdfdf0-7d25-11e7-80f8-e43969296e50.png)

smallg
![image](https://user-images.githubusercontent.com/7785316/29144164-eaa8aa4a-7d25-11e7-8cb1-b7

[2017-08-09 21:19] tanguyduval opened #24 "[Project] Separate touching myelin"
A script has already been developed to separate touching myelin in AxonSeg:
I tried it in folder `/Volumes/data_processing-1/tanguy/Histo/Human/AxonDeepSeg/20170527_HumanC5BG2_segmented`:
[code]

![image](https://user-images.githubusercontent.com/7785316/29144390-cee37dca-7d26-11e7-94a6-515008c47418.png)

![image](https://user-images.githubusercontent.com/7785316/29144340-9bba8f38-7d26-11e7-98fa-0

[2017-09-06 20:23] jcohenadad opened #25 "inst: virtualenv from miniconda2 seems to crash"
[code]

[2017-09-06 20:54] jcohenadad opened #26 "feature: allow user to have multiple files inside a sub-folder"
also: make it possible to input pixel size as a parameter

[2017-09-07 17:32] maxwab opened #27 "Improve the json files management"
Right now we use one configuration file (config_network.json) where every information about the training hyperparameters, the network architecture and the dataset information is stored.

Yet the dataset information (like the size of the patches that compose the dataset) is a static information that is shared between models. In addition, when we apply a model, we only need to know its architecture,

[2017-09-07 17:37] maxwab opened #28 "Look at preprocessing methods for improving segmentation results"
Preprocessing is applied per image right now. For each patch that enters the network:
* We equalize the histogram of the patch.
* We normalize the patch.

This may not be optimal. Moreover, since we apply preprocessing per patch, we do not carry prior information from the training set to the test image, like we usually we do when we normalize using the mean and variance from the training set.

It

[2017-09-07 17:39] maxwab opened #29 "Better exception management for the software"
The software lacks some exception management right now.

The idea is to manage failures to find a file, a model ... And to notify the user of the exact error.

Ideally the user should never encounter a Python error when launching the software axondeepseg.

[2017-09-20 16:18] tanguyduval opened #30 "How to save segmentation"
My feeling, 2 options:
- save axonlist dictionary:
PROS: subpixel resolution (output of AxonSeg snake)
            Can save touching myelin
  - json file is not suitable for very large datasets (no compression).
  - HDF5: better, very standard format designed for very large datasets https://support.hdfgroup.org/HDF5/whatishdf5.html. (used in Matlab save)
- Save myelin mask:
CONS: myelin need to be

[2017-09-21 13:53] #26 closed, assigned to maxwab

[2017-12-05 15:23] jcohenadad opened #31 "doc: make help install more explicit if issue with tensorflow installation"
write something like:

[code]

make it a warning, not a note.

then, tell user to re-run pip install...

[2017-12-05 15:25] jcohenadad opened #32 "doc: install"
after install, add a test to make sure install worked.

[2017-12-05 15:29] jcohenadad opened #33 "doc: getting started"
axondeepseg not callable directly from terminal-- inform user

[2017-12-05 15:31] #33 closed

[2017-12-05 15:34] jcohenadad opened #34 "BUG: IndexError: list index out of range"
data: https://osf.io/28k4m/

[code]

Another bug:
[code]

[2017-12-05 15:43] jcohenadad opened #35 "DOC: add SOP for when segmentation fails"
how to correct, what software, etc.

[2017-12-05 15:47] jcohenadad opened #36 "OPT: improve SEM & TEM model"
Deadline: mid-January

[2017-12-05 15:53] jcohenadad opened #37 "DOC: how to post-process segmentations."
explain step-by-step tutorial with AxonSeg dependency.
Deadline: Dec 31st.

[2017-12-09 14:23] jcohenadad commented on #25
never close an issue without referencing to the commit that fixes the issue.

[2017-12-09 14:24] jcohenadad commented on #22
was the link to correction script added? was the info on README added? if (and only if) so reference it to the commit and close the issue.

[2017-12-09 14:25] jcohenadad commented on #17
never close an issue without referencing to the commit that fixes the issue.

[2017-12-09 14:26] jcohenadad commented on #5
Never close an issue without referencing to the commit that fixes the issue, or if no fix is provided, explain why the issue can be closed.

[2017-12-09 14:26] jcohenadad commented on #6
Never close an issue without referencing to the commit that fixes the issue, or if no fix is provided, explain why the issue can be closed.

[2017-12-09 14:26] jcohenadad commented on #7
Never close an issue without referencing to the commit that fixes the issue, or if no fix is provided, explain why the issue can be closed.

[2017-12-09 14:26] jcohenadad commented on #8
Never close an issue without referencing to the commit that fixes the issue, or if no fix is provided, explain why the issue can be closed.

[2017-12-09 14:26] jcohenadad commented on #13
Never close an issue without referencing to the commit that fixes the issue, or if no fix is provided, explain why the issue can be closed.

[2017-12-19 04:21] alzaia commented on #31
Already resolved in commit 21fae060e7192a669154887416e86af7472f648f
(full link: https://github.com/neuropoly/axondeepseg/commit/21fae060e7192a669154887416e86af7472f648f).

[2017-12-19 04:21] #31 closed

[2017-12-20 03:18] alzaia commented on #32
resolved in commits 4d7e0ee9540921587bc8c0132a912ed62a1c96c1 and 6c7d20a2fa3a19b323b3c1e87ded2c943a7e344e.

Notes: added basic integrity test script that can be launched after installation to see if the installation succeded. The test launches basic axondeepseg operations on a test dataset.
Test dataset was also added on setup.py to be included in all future wheels.

[2017-12-20 03:18] alzaia commented on #35
Done in commit 9ba6dd7ac2c1df9ad4c9d4e24327caada3f9e787.

[2017-12-20 03:25] alzaia commented on #30
Added code to save axon and myelin masks during segmentation. Resolved in commits eadefba815bfd4e33f7437ac1227d23cd602651a and 42810475481ee0c0bd51b8879879db412cbb37a2.

Also added corresponding jupyter notebooks for output separation into 2 masks (axon + myelin) + merging back to combined label mask.

Note: these masks will also be useful if the user wants to manually correct the segmentation out

[2017-12-20 03:25] #30 closed

[2017-12-20 20:17] jcohenadad commented on #32
reopened, see:
https://github.com/neuropoly/axondeepseg/commit/6c7d20a2fa3a19b323b3c1e87ded2c943a7e344e#r26399752

[2017-12-20 20:23] jcohenadad commented on #35
the commit reference to the notebook modif is missing. Please add

[2017-12-20 21:01] alzaia commented on #35
Commit for the notebook: 42810475481ee0c0bd51b8879879db412cbb37a2

[2017-12-23 17:52] jcohenadad commented on #35
reopened because of this:
https://github.com/neuropoly/axondeepseg/commit/42810475481ee0c0bd51b8879879db412cbb37a2#r26452234

from now on: open a specific PR and we will take it from there

[2018-01-16 07:46] jcohenadad opened #38 "Very bad results"
**Version:**
6c7d20a2fa3a19b323b3c1e87ded2c943a7e344e

**Data:**
Source: https://osf.io/28k4m/
![does_kelm_072214_021](https://user-images.githubusercontent.com/2482071/34977116-ac83d6ce-fadc-11e7-85b3-53941d549370.png)

**Syntax:**
[code]

**Results:**
![_segmenteddoes_kelm_072214_021](https://user-images.githubusercontent.com/2482071/34977136-b818dafc-fadc-11e7-9325-3853a51e76d2.png)

[2018-01-17 12:09] jcohenadad opened #39 "Set versioning system"
will notably be useful for debugging in users

[2018-01-24 19:47] alzaia commented on #37
Just to make sure, this refers to the maps generation of metrics? Or the use of AxonSeg to segment for example myelin by using the axon mask of ADS as input?

[2018-01-24 22:53] perone commented on #38
I wonder if this isn't because of the png input (that can have an alpha channel or something like that), but the weird part is that there are some spikes of predictions around the borders.

[2018-01-25 08:25] jcohenadad commented on #37
i meant the use of AxonSeg to segment for example myelin by using the axon mask of ADS.
but it seems to be addressed now:
https://neuropoly.github.io/axondeepseg/documentation.html#post-processing-tools
so we can close.

[2018-01-25 08:44] jcohenadad opened #43 "Remove duplication of docs_source and docs"
See: https://github.com/neuropoly/axondeepseg/pull/40#discussion_r163621688

[2018-01-25 16:19] alzaia commented on #32
Resolved with PR #40

[2018-01-25 16:19] #32 closed

[2018-01-25 16:22] #37 closed

[2018-01-25 16:24] alzaia commented on #39
Resolved in PR #41

[2018-01-25 16:24] #39 closed

[2018-01-25 18:41] perone commented on #43
We should host only in ReadTheDocs, everything is automatically and there is no duplication. @alzaia in the paper you re-submitted, which link you used to point for the project ? Just to know which links we should keep.

[2018-01-25 19:37] alzaia commented on #43
I put the following link: https://neuropoly.github.io/axondeepseg/.

[2018-01-26 06:02] jcohenadad commented on #35
fixed in https://github.com/neuropoly/axondeepseg/pull/42

[2018-01-26 06:07] jcohenadad commented on #35
my bad, i thought that https://github.com/neuropoly/axondeepseg/pull/42 was merged but it is not. Issue is reopened until PR is merged.

[2018-01-27 01:44] alzaia commented on #35
Done In #42

[2018-01-27 01:44] #35 closed

[2018-02-16 04:48] jcohenadad commented on #43
once this issue is addressed, please also update the wiki:
https://github.com/neuropoly/axondeepseg/wiki/How-to-update-the-documentation-(sphinx)

[2018-02-16 12:01] jcohenadad opened #47 "Clean OSX-related files (e.g., DS_Store)"
They should not be uploaded to github.
Use .gitignore. See example here:
https://github.com/neuropoly/spinalcordtoolbox/blob/master/.gitignore

[2018-02-22 04:03] jcohenadad opened #49 "Improve workflow"
Currently, ADS requires images prepared in a certain way, which makes it difficult for other researchers to run the software properly.
Since these preprocessing steps are easy to integrate within ADS, it should be done there, instead of manually by the user. Preprocessing includes:

- [ ] File input management: add a module that checks the input data and convert it to png if required.
- [ ] Contra

[2018-02-23 03:18] alzaia opened #51 "Update axondeepseg help"
Change input data flag from '-p' to '-i'.

[2018-02-23 03:45] jcohenadad commented on #51
also:
- explicit what models to choose from with flag t
- give possible values for -v
- show default model
- fix category of arguments. currently, -t is in "optional" although it is mandatory. Same for -f.
- give ranges of values for -o. Currently the user has no clue what values to use and what the value means. 0? 100029303930? 33?
[code]

[2018-02-24 02:15] jcohenadad commented on #51
this issue should be address in a new dedicated PR. See here: https://gist.github.com/mikepea/863f63d6e37281e329f8#keep-it-small

[2018-02-24 11:46] jcohenadad opened #53 "Installation issue"
See: https://github.com/neuropoly/axondeepseg/pull/50#issuecomment-368222807

[2018-02-24 11:56] jcohenadad opened #54 "verbose typo: "processing patch X on XX" should be "processing patch X of XX""

[2018-02-24 17:12] alzaia commented on #53
The installation from PyPI (using ```pip install axondeepeg```) is OK for a first-time user/installation. However, what we did not consider is that the software will change often (so new PyPI wheels) so users will want to just update it.

Also, for the installation, we chose to install it from PyPI wheels. This means that the user does not need to clone the git repo to do that. Another approach wo

[2018-02-25 00:24] jcohenadad commented on #53
i would go with cloning axondeepseg repos and do `pip install -e .`. I would absolutely not propose two options: this will confuse users.
@perone any thoughts?

[2018-02-25 01:54] jcohenadad opened #55 "Poor segmentation results on large field TEM"
Data:
![unnamed_23 87nm](https://user-images.githubusercontent.com/2482071/36637190-05ee6f10-1a1a-11e8-9a80-38a87f0e1a2f.jpg)

Syntax:
[code]

ADS version: commit 286dc698db156e71a7271a25016a442e8e2de450

Results:
![unnamed_23 87nm_segmented](https://user-images.githubusercontent.com/2482071/36637193-0c5b99fe-1a1a-11e8-815b-967693f2d657.png)

[2018-02-25 01:58] jcohenadad opened #56 "Displayed version of ADS should reflect current commit"
Currently, when running ADS from github master (or any other branch) repository, the version displayed is something like that:
[code]

However, the problem is that the displayed version does not reflect the current state of ADS. For example, two users can run ADS with the apparent "v.0.3" version, but with two different commits, resulting in potentially two different behaviours, hence this might c

[2018-02-25 03:49] alzaia opened #57 "Test all input options/combinations when running axondeepseg from terminal"
ref: https://github.com/neuropoly/axondeepseg/pull/52/files/286dc698db156e71a7271a25016a442e8e2de450#r170419632

[2018-02-26 18:16] perone commented on #53
There are two different things that we should have a clear separation: development and application use.

For the development, the `pip install -e .` is the traditional way to go, given that who is developing, testing, checking PRs wants immediate changes in the code to be reflected on their systems.

For final users, the installation should be: `pip install axondeepseg` to install the latest stabl

[2018-02-26 23:38] jcohenadad commented on #53
Thank you @perone. That makes perfect sense. So, we should probably need to indicate to the user that they can install a specific version of ADS in the [help](https://neuropoly.github.io/axondeepseg/documentation.html#installing-axondeepseg).
We should probably also create a CHANGELOG that lists all modifications for each new release.

Now regarding the indication of two types of installation for

[2018-02-27 02:31] jcohenadad opened #58 "Various indentation throughout the code"
Examples of two different standards there:
https://github.com/neuropoly/axondeepseg/blob/e2e1fdc4ec07d5f66a2f9129670186540dbb4b38/AxonDeepSeg/train_network.py

and there:
https://github.com/neuropoly/axondeepseg/blob/e2e1fdc4ec07d5f66a2f9129670186540dbb4b38/AxonDeepSeg/segment.py

This needs to be harmonized, according to [this](https://www.python.org/dev/peps/pep-0008/#indentation).

[2018-02-27 02:41] alzaia commented on #54
This was corrected in the last PR (#52 ).

Current display when verbose = 3:
[code]

[2018-02-27 02:41] #54 closed

[2018-02-27 02:42] alzaia commented on #51
This was resolved with PR #52

[2018-02-27 02:42] #51 closed

[2018-02-27 02:43] alzaia commented on #49
This was addressed in PR #50

[2018-02-27 02:43] #49 closed

[2018-02-27 03:14] jcohenadad opened #59 "Decrease of performance in latest merge of PR #50"
Data:
![unnamed_23 87nm](https://user-images.githubusercontent.com/2482071/36637190-05ee6f10-1a1a-11e8-9a80-38a87f0e1a2f.jpg)

Syntax:
[code]

commit 286dc698db156e71a7271a25016a442e8e2de450
![unnamed_23 87nm_segmented](https://user-images.githubusercontent.com/2482071/36637193-0c5b99fe-1a1a-11e8-815b-967693f2d657.png)

commit 759a45f581d2fd5ddd47ce845059f607466d3956
![unnamed_23 87nm_segmented](h

[2018-02-27 03:17] jcohenadad opened #60 "Implement continuous integration and integrity checking"
to avoid this kind of issue: https://github.com/neuropoly/axondeepseg/issues/59

we could use continuous integration (CI) service such as [Travis](https://travis-ci.org/).

[2018-02-27 04:24] alzaia commented on #38
This was definitely because of the pre-processing that was missing. Tested same sample with last version. The results are now OK:
![34977116-ac83d6ce-fadc-11e7-85b3-53941d549370_segmented](https://user-images.githubusercontent.com/14980394/36710456-1ff751b4-1b4c-11e8-974c-82a45d6016ae.png)

[2018-02-27 04:24] #38 closed

[2018-02-27 04:34] alzaia commented on #34
Coming back to this issue, it comes from the patch size input (512x512) after resampling to the target pixel size. I added a warning in the doc last December (https://neuropoly.github.io/axondeepseg/documentation.html#using-axondeepseg). However, we need to find a better solution.

I was discussing about this with @perone and it's a complex issue. The easy solution would be to throw an exception w

[2018-02-27 04:39] alzaia opened #61 "Update doc and readme with new ref when SciRep paper is out"

[2018-02-27 05:31] jcohenadad commented on #59
no, what i would do instead is allow users to point to a single file instead of a folder. Otherwise, we will always face these kind of problems in the future (e.g., if the user decides to crop the data and have both images in the same folder, but he/she only want to segment one of the file).

[2018-02-27 05:40] jcohenadad commented on #34
ok, so maybe just throwing an exception would be more elegant, and telling the user what to do if that happens.

[2018-02-27 05:47] jcohenadad commented on #38
We can indeed close. Issue is solved in 759a45f581d2fd5ddd47ce845059f607466d3956.

@alzaia please use commit numbers instead of "last version", which we cannot track down.

[2018-02-27 16:08] alzaia commented on #59
Yes, both ways are possible. You can put a folder as input and it will get all the images inside and segment them, or you can just put the path of an image and it will segment only that image. The folder version is useful when you have many images with the same pixel size.

So to resume:
- Only allow the user to use an image path as input (and not a folder path)
- For all pre-processings, generate

[2018-02-27 22:20] perone commented on #53
For me it's ok !

[2018-02-27 22:32] alzaia commented on #53
Also OK for me.

[2018-02-27 22:52] jcohenadad commented on #53
👍 let's do it then :-)

[2018-02-28 00:01] jcohenadad commented on #59
No, what I meant is that previously, when inputing a path+file name, it didn't work. It seems to be working now though. We should leave the possibility to have file name or folder name as input.

However, we should definitely not alter the original input image, so yes, you should work with a temp file.

[2018-02-28 05:48] jcohenadad opened #63 "Duplication of images on Jupyter notebook"
The same image is displayed 3x at section 12:
https://github.com/neuropoly/axondeepseg/blob/master/notebooks/morphometrics_extraction.ipynb

[2018-02-28 14:14] alzaia commented on #63
It is similar but not the same. The first one is only the axon mask, the 2nd one is axon mask overlay on image, the 3rd is axon mask +myelin overlay on image.

I can remove the first 2 as they are 'included' in the 3rd.

[2018-02-28 14:46] jcohenadad commented on #63
yes pls remove because it is confusing

[2018-02-28 18:27] perone commented on #43
After you merge all changes in the `/docs` folder, I'll submit another PR to add an automatic forward from this link at Github (neuropoly.github.io) to the automatically rendered in ReadTheDocs. So when someone clicks in the paper, it will be automatically forwarded to the ReadTheDocs, so we don't have to update the `/docs` folder everytime we update the docs.

[2018-03-02 05:53] zougloub commented on #53
On the changelog, this is worth the read: http://keepachangelog.com/en/1.0.0/

[2018-03-02 05:53] zougloub commented on #53
https://xkcd.com/1179/

[2018-03-03 04:17] jcohenadad opened #66 "tiff not managed"
commit: faf33fc107a6eccc0e5f9d5a1c5d6dd8143784cb
image: https://www.dropbox.com/s/jsks6nuqwg5w6p9/20180303_rat_spinal_cord_cervical_20151124_330nmx330nm_crop.tiff?dl=0
syntax:
[code]
error:
[code]

[2018-03-03 04:24] jcohenadad opened #67 "Remove duplicated code in segment.py"
[This script](https://github.com/neuropoly/axondeepseg/blob/master/AxonDeepSeg/segment.py) has a lot of duplicated code between [segment_image](https://github.com/neuropoly/axondeepseg/blob/master/AxonDeepSeg/segment.py#L30) and [segment_folder](https://github.com/neuropoly/axondeepseg/blob/master/AxonDeepSeg/segment.py#L104).

a more elegant way would be to call `segment_image` inside `segment_fo

[2018-03-05 16:00] alzaia opened #68 "Add procedure with GIMP for ground truth labelling"

[2018-03-05 22:28] alzaia commented on #63
This was resolved with PR #64

[2018-03-05 22:28] #63 closed

[2018-03-06 04:00] jcohenadad opened #69 "Change output names: axon_mask.png and myelin_mask.png"
In case the user has two files in the same folder, e.g. image1.png and image2.png, and he runs ADS on both images, then the output segmentations will overwrite results from the first image.

A suggestion is to output the following files:
[code]
with xxx being the name of the input file.

[2018-03-06 19:04] alzaia commented on #59
The discussion raised by this issue was resolved in PR #65

[2018-03-06 19:04] #59 closed

[2018-03-07 01:01] alzaia opened #72 "Implement pipeline for downsampled morphometrics maps for large scale microscopy"
When segmenting a large scale sample (e.g. full spinal cord slice), users need to obtain downsampled morphometrics maps. This can currently be done by the AxonSeg pipeline. The implementation of this functionality should also be available in AxonDeepSeg in order to remove the dependency with AxonSeg.

[2018-03-07 17:23] #66 closed

[2018-03-15 18:45] alzaia commented on #69
Fixed in PR #71

[2018-03-15 18:45] #69 closed

[2018-03-16 00:52] alzaia opened #73 "Generate doc for training procedure for new models"

[2018-03-28 02:17] jcohenadad opened #74 "Patchy appearance of segmentation results"
![anim](https://user-images.githubusercontent.com/2482071/38004962-9c73a14a-3279-11e8-9f70-e7edffbf5784.gif)

[2018-03-29 22:35] alzaia opened #76 "Implement more complete testing module"
So far we only have a basic integrity test that installs the package and launches a segmentation on a test sample. We need to implement a complete testing module that will also test the other important functionalities (i.e. post-segmentation computations, metrics,...).

[2018-03-30 00:56] jcohenadad commented on #55
related to the model. A more specific model should be generated.

[2018-03-30 00:56] #55 closed

[2018-03-30 00:59] jcohenadad commented on #28
maybe use [CLAHE](https://imagej.net/Enhance_Local_Contrast_(CLAHE))

[2018-03-30 01:01] jcohenadad commented on #27
in relation to https://github.com/neuropoly/axondeepseg/issues/73

[2018-03-30 01:02] jcohenadad commented on #25
now fixed

[2018-03-30 01:02] #25 closed

[2018-03-30 01:04] jcohenadad commented on #23
this issue is not specific to ADS

[2018-03-30 01:04] #23 closed

[2018-03-30 01:08] jcohenadad commented on #17
duplicate of https://github.com/neuropoly/axondeepseg/issues/74

[2018-03-30 04:14] alzaia commented on #61
Fixed in PR #75

[2018-03-30 04:14] #61 closed

[2018-03-30 05:47] #53 closed

[2018-04-03 15:41] alzaia commented on #68
Fixed in #62

[2018-04-03 15:41] #68 closed

[2018-04-03 15:43] alzaia commented on #60
This was done in PR #77

[2018-04-03 15:43] #60 closed

[2018-04-06 14:03] mathieuboudreau commented on #76
Testing the input arguments of functions as well as their expected outputs would be great too. This would help tracking the stability of the API when developing.

For testing, have you considered using python's [unit testing framework](https://docs.python.org/2/library/unittest.html)?

[2018-04-06 17:17] mathieuboudreau opened #78 "Local Jupyter notebook not seeing virtual environment packages/path"
**Branch**: [install_jupyter_debug]( https://github.com/neuropoly/axondeepseg/tree/install_jupyter_debug)

Hi all – new user/dev/neuropoly member here.

I came up on a small user experience bug related to the Jupyter notebooks while following the install instructions. The solution I found below is very (very) simple, but since all the forums I found discussing similar issues didn't point to this a

[2018-04-06 19:10] alzaia commented on #76
I was planning to use the [pytest](https://docs.pytest.org/en/latest/) framework. @mathieuboudreau any reason why you prefer the [unittest](https://docs.python.org/2/library/unittest.html) library instead?

[2018-04-06 19:13] perone commented on #76
Just to complement, you can use unittest together with pytest without any problems. We integrated pytest+coverage in SCT also (https://github.com/neuropoly/spinalcordtoolbox/pull/1662) if you want to use it as a basis.

[2018-04-06 19:31] mathieuboudreau commented on #76
@alzaia No strong preference on my side – I just thought of unittest since I've used it in the past, and I think it's already a default python package. I don't have experience with pytest, so I'm not sure of the additional benefits/features it provides over unittest.

[2018-04-08 13:06] jcohenadad commented on #78
thanks a lot for addressing this issue @mathieuboudreau. Don't hesitate to open a PR already so we can start testing/reviewing the changes. Thanks!

[2018-04-09 16:21] alzaia opened #80 "Update doc about use of Jupyter notebooks"
This issue was raised in PR #79. The first line in the Getting Started section of the doc that tells the user to use the getting_strated notebook is confusing.

[2018-04-10 16:35] mathieuboudreau commented on #78
Closed – as discussed in PR #79, since Jupyter is not needed for the actual implementation of AxonDeepSeg, it's best not to include it in the requirements, and instead the documentation will be improved through issue #80 .

[2018-04-10 16:35] #78 closed

[2018-04-11 02:22] #80 closed, assigned to nobody

[2018-04-11 17:20] alzaia opened #87 "Change github hosting for the ReadTheDocs rendering"
Ref to this comment: https://github.com/neuropoly/axondeepseg/pull/86#issuecomment-380528044

[2018-04-27 12:27] mathieuboudreau commented on #29
Related to issue #76 (Implement more complete testing module), the exception handling should be tested for as well.

[2018-04-27 15:12] mathieuboudreau commented on #76
@alzaia I made some simple tests for get_pixeldata, along with some improved error handling, in branch [unit_tests](https://github.com/neuropoly/axondeepseg/tree/unit_tests) (commit [842643b](https://github.com/neuropoly/axondeepseg/commit/842643b64dadbac1b200be9f98fed695d03d30ae)).

Please have a look to see if this is somewhat what you were aiming for, and if so I'll work on some more.

I think

[2018-04-30 15:09] alzaia commented on #76
Hi @mathieuboudreau, I do not have preferences, but this looks fine! Thanks a lot!

[2018-05-01 20:54] alzaia opened #88 "Error in computation of Jaccard index in script segmentation_scoring.py"
The computation of the FN_count in that method of the Metrics_calculator class should be:
[code]
instead of:
[code]

[2018-05-02 16:50] #88 closed

[2018-05-02 17:22] alzaia opened #90 "Move the CHANGELOG to the main doc"
As discussed in https://github.com/neuropoly/axondeepseg/pull/86#issuecomment-380928831 and https://github.com/neuropoly/axondeepseg/pull/86#issuecomment-380981882, we are going to move the changelog to the doc webpage so users can easily see the changes between different versions.

[2018-05-03 00:34] jcohenadad opened #91 "AxonDeepSeg is not compatible with Windows"
What are the limitations and how can we address them?

[2018-05-03 15:05] mathieuboudreau commented on #91
Just created a fresh Windows 10 VirtualBox VM and tested it.

- Installed Python 2.7 using the [Anaconda package](https://www.anaconda.com/download/).
- Opened up an Anaconda path session through the `Anaconda Prompt` logo in the App list
    - Had to run it using Administrator privileges to be able to install packages later on.
- Installed pip in using `conda install pip` on the command line.
- I

[2018-05-03 15:11] mathieuboudreau commented on #91
See: https://stackoverflow.com/questions/3571514/python-why-should-from-module-import-be-prohibited

Not sure why this would fail in Windows but pass in OS/UNIX, I might try importing the modules outside the function definition: https://github.com/neuropoly/axondeepseg/blob/bfb0fe3ae65c97671df2aa01bbbc147135d7fc21/AxonDeepSeg/integrity_test.py#L1-L16

[2018-05-03 15:12] mathieuboudreau commented on #91
Hmmmm actually I just double checked, even though I specifically installed Anaconda 2.7, `python -V` tells me I'm using Python 3.6.5, so that might be the source of that error. I'll debug that issue and try the test again.

[2018-05-03 15:17] perone commented on #91
I don't see any limitation that would block the use of it on Windows, I think all required packages are compatible. What can happen is some issues with paths/etc, but it requires testing as @mathieuboudreau is doing, it's the only way to fix the issues that pop out.

[2018-05-03 15:27] mathieuboudreau commented on #91
**Looks like using Windows + Python 2.7 + Tensorflow is a (the?) major limitation preventing us from Windows compatibility.**

- I explicitly installed a Python 2.7 venv (`conda create -n ads_venv27 python=2.7) and activated it.
- Ran `pip install -e .` and encountered an error saying that the required TensorFlow version couldn't be met:

![ads27](https://user-images.githubusercontent.com/1421029/

[2018-05-03 15:30] alzaia commented on #91
Interesting... Thanks a lot for the investigation @mathieuboudreau ! So it looks like we would need to migrate to 3.5x or 3.6x to make it run on Windows.

[2018-05-04 03:27] jcohenadad commented on #91
awesome investigations @mathieuboudreau!!!  Is the current version of ADS happy with Python 3.5? If not, maybe we should open a specific issue for making it compatible, what do you think?

[2018-05-04 14:02] mathieuboudreau commented on #91
Thanks @jcohenadad !

I just tried doing the necessary steps to convert the code to be Python 3 compatible, and early indications suggest that it shouldn't be too difficult, with a few caveats.

Working on branch: [py2to3](https://github.com/neuropoly/axondeepseg/tree/py2to3)

First-order test was getting `axondeepseg_test` to pass in Python 3:

- Converted the repo's code using the command [2to3]

[2018-05-06 02:24] mathieuboudreau commented on #76
@alzaia I fell on a small logical inconsistency while writing tests for `display_axon_diameter`.

https://github.com/neuropoly/axondeepseg/blob/5a0367c93f2e0972543c4d2eac745906ec57bc83/AxonDeepSeg/morphometrics/compute_morphometrics.py#L86-L96

The definition of the argument `path_prediction` isn't documented, but from lines 95-96 I'm assuming you meant it to be the '/path/to/file/AxonDeepSeg_seg-

[2018-05-07 01:31] jcohenadad commented on #91
Great contribution @mathieuboudreau! thanks a lot. @alzaia can you please help Mathieu as you are the most familiar with the project.

[2018-05-07 17:14] mathieuboudreau commented on #76
I added a test coverage badge (through coveralls.io) on the [unit test branch](https://github.com/neuropoly/axondeepseg/tree/unit_tests).

If you click on it, you can go see exactly which lines in each files are hit/missed by the unit tests.

[2018-05-07 18:42] alzaia commented on #76
@mathieuboudreau for your comment above, you are right, this is an error as the integrity_test was coded before the suffix change and was not updated afterwards.

So, we should remove the default argument IMO, and it would be more clean to put the suffix change within axon_segmentation() as this is the most low-level function that can be used to do the segmentation. I can do it (or maybe you plann

[2018-05-09 14:26] mathieuboudreau commented on #76
@alzaia doesn't matter to me – it should be a quick fix. I can take a crack at it if you're busy.

[2018-05-09 16:45] alzaia commented on #76
@mathieuboudreau Ok I will do it!

[2018-05-09 19:40] #43 closed

[2018-05-15 20:54] mathieuboudreau opened #92 "Make ADS Python 3.5x/3.6x compatible"
Current branch: [py2to3](https://github.com/neuropoly/axondeepseg/tree/py2to3)

Issue raised by @jcohenadad in issue #91 .

The first thing I think needs to be decided is if we want to make ADS compatible with both Python 2.7 and 3.5x/3.6x. The resources I found (below) seem to be contradicting themselves over which is preferred in the community. Dual compatibility is a bit messier to maintain in

[2018-05-16 16:31] perone commented on #92
Completely agree, Python 3 is the way to go, a lot of libraries are deprecating Python 2 in the following 1 or 2 years so it's a good move.

[2018-05-16 16:32] mathieuboudreau commented on #92
Sounds good – that should make things simpler/cleaner.

[2018-05-16 16:35] alzaia commented on #92
So moving to Python 3 now will just save us a lot of issues in the long term, before the project and code become larger.

[2018-05-17 19:01] alzaia commented on #90
Fixed in #93

[2018-05-17 19:01] #90 closed

[2018-05-24 15:08] mathieuboudreau opened #94 "Binder badge notebook: ./postBuild: pip2: not found"
I tried running the Jupyter notebook available through clicking the badge on the README yesterday, and encountered this error:

`./postBuild: 3: ./postBuild: pip2: not found`

I know sometimes there are temporary issue with Binder, but I tried again today and couldn't access it (same error).

[2018-05-24 20:35] alzaia commented on #94
The postBuild script is basically the commands that we launch in order to install the package:
[code]
The issue is that the name of the wheel is hardcoded here (i.e. ```AxonDeepSeg-0.3-py2.py3-none-any.whl```), but it should depend on the current version of ADS (now it is 0.4) so it does not find the correct wheel. I will resolve this. Thanks for pointing it out!

[2018-05-24 20:37] mathieuboudreau commented on #94
Ah ha – thanks for explaining! No problem!

[2018-05-28 17:04] alzaia commented on #94
Fixed in PR #95

[2018-05-28 17:04] #94 closed

[2018-06-05 18:19] mathieuboudreau opened #97 "Patch extraction bug, or unclear functionality?"
**branch**: [unit_tests](https://github.com/neuropoly/axondeepseg/tree/unit_tests)
**commit**: [9b8fd6d](https://github.com/neuropoly/axondeepseg/commit/9b8fd6d601d6f5d811d0318fba2c4f67009ac12d)

I encountered something that looks to me like a bug, but it's possible that it's not clear to me the exact intended functionality of extract patch.

I found this while writing tests for extract_patch. If

[2018-06-05 22:16] jcohenadad commented on #97
Thanks a lot for checking this @mathieuboudreau! This is definitely a question for @alzaia

[2018-06-06 18:46] alzaia opened #99 "testing issue"
Ignore this, just testing.

@oumayb testing

[2018-06-06 18:49] perone commented on #99
💯

[2018-06-06 18:49] #99 closed

[2018-06-07 14:52] alzaia opened #100 "More robust myelin separation algorithm"
So far, I experimented with distance transform + watershed, but it is only robust on samples with low axon density (less compact fibers) and/or neighbour myelin sheaths that have a low overlap between them.

The ongoing dev on this is under the ```dev_myelin_separation``` branch, in the following notebook:
https://github.com/neuropoly/axondeepseg/blob/dev_myelin_separation/notebooks/myelin_separat

[2018-06-07 15:45] alzaia commented on #97
@mathieuboudreau I looked into it a little bit more. So I don't think this is a bug as it is also explicitly written in the description of the ```extract_patch``` function of ```patch_extraction.py``` that a very low overlap is done:
[code]

I don't exactly remember why we did this choice of implementation to have at least one row/column of overlap in the patches. Of course in our case, we're most

[2018-06-07 15:49] mathieuboudreau commented on #97
Ah ok, thanks @alzaia!

 When I read that line, I interpreted that if there's a need to overlap, the minimum will be used, not that there will always be overlap. Do you think there's a benefit/drawbacks in having overlap for the training @perone ?

As for your two options, both are fine with me, it didn't really cause an issue in my tests  per-se(I just happened to fall on it while testing). I jus

[2018-06-07 15:55] alzaia commented on #97
@mathieuboudreau Oh I see what you mean about the comment on the code about the overlap, maybe you are right actually. I thought as it said "very low overlapping" and did not specify that it is only done when needed (i.e. image size not multiple of the patch size).

[2018-06-07 16:28] alzaia commented on #97
@mathieuboudreau Ok so I think it is better to change the implementation IMO. This 1 pixel overlap in not intuitive and could cause issues in the future. I will look into this. Thank you for pointing it out.

[2018-06-07 16:34] perone commented on #97
We should have overlap during training, a configurable overlap would be even better because this is an hyper-param of the training procedure.

[2018-06-07 21:36] oumayb opened #101 "Issue when passing path_model_init argument to train_model in train_network.py"
When we pass the path to an existing model to train_model function in network.py, we get an error because the function global_variables_initializer in [line 328](https://github.com/neuropoly/axondeepseg/blob/master/AxonDeepSeg/train_network.py#L328) doesn't take any argument.

[2018-06-07 21:39] oumayb commented on #101
@alzaia @jcohenadad I detected this, should I work on it?

[2018-06-08 14:17] alzaia commented on #101
@oumayb Yes it would be a good practice for you to start using the pull request pipeline. You can find the full guidelines in this wiki page: https://github.com/neuropoly/axondeepseg/wiki/Guidelines-for-contribution.

[2018-06-08 14:28] alzaia opened #102 "Add new blue/red display function for the segmentation masks"
@oumayb You did a small code for the RGB rendering of segmented masks in ADS (red/blue) 2 weeks ago, we should add it in the code as a new function before we forget. I suggest to put it under the ```visualization```subfolder, called something like ```rgb_rendering_of_mask.py```. It should take as input the grayscale 3-class mask (i.e. output of ADS) and return (and possibly save) the colored red/b

[2018-06-08 16:19] oumayb commented on #102
Good idea @alzaia , I'm on it!

[2018-06-08 23:58] jcohenadad opened #105 "Update contribution guideline"
we need to establish conventions on PR titles and description. We could get inspiration from: https://github.com/neuropoly/spinalcordtoolbox/wiki/Contribution-Guidelines#submit-a-pull-request

[2018-06-11 14:47] alzaia commented on #105
Is this OK?
https://github.com/neuropoly/axondeepseg/wiki/Guidelines-for-contribution#procedure-to-submit-a-pull-request-pr-for-new-devfeaturesimplementations

[2018-06-11 16:19] #102 closed

[2018-06-14 02:09] jcohenadad commented on #105
unclear what is category and what is type

[2018-06-14 14:55] alzaia commented on #105
Ok, I changed that sentence to this one:
[code]

[2018-06-14 18:32] alzaia commented on #73
Addressed in #96

[2018-06-14 18:32] #73 closed

[2018-06-14 22:48] perone opened #108 "Predicting touching areas to improve watershed"
There is a very nice approach [here](https://github.com/ternaus/TernausNetV2) where they predict not only the pixel-level classes but the touching areas as well, so it can be used to improve the seed for the watershed. I think this can be a good idea for AxonDeepSeg. There is [notebook here](https://github.com/ternaus/TernausNetV2/blob/master/Demo.ipynb) as well.

PS: I added this as an issue but

[2018-06-15 01:56] jcohenadad commented on #105
not great-- to vague and implies maintenance-- i've made the following changes:
- created single colored labels and added "category" in the name for [easy referencing](https://github.com/neuropoly/axondeepseg/wiki/Guidelines-for-contribution#procedure-to-submit-a-pull-request-pr-for-new-devfeaturesimplementations)
- updated the [wiki](https://github.com/neuropoly/axondeepseg/wiki/Guidelines-for-co

[2018-06-15 02:53] alzaia commented on #101
This was merged into `dev_issue73` branch of PR #96, which got approved and already merged into `master`, so we can close this issue.

[2018-06-15 02:53] #101 closed

[2018-06-20 15:35] alzaia opened #109 "Installation procedure via PyPI should be removed"
I think the AxonDeepSeg installation procedure via PyPI (see http://axondeepseg.readthedocs.io/en/stable/documentation.html#option-1-installing-axondeepseg-in-application-mode-stable-release) should be removed and we should only keep the installation procedure via GitHub (http://axondeepseg.readthedocs.io/en/stable/documentation.html#option-2-installing-axondeepseg-in-development-mode-from-github)

[2018-06-20 17:05] mathieuboudreau commented on #109
@alzaia do you have any stats of how many/frequently people installed ADS using PyPi vs GitHub to date?

[2018-06-20 18:59] alzaia commented on #109
I don't have stats, but I had one user that had bad segmentation results on one of our test samples, and I strongly suspect he installed it from PyPI and had an older version (to be confirmed) .

But thinking more about it, a cloning of the repo would be mandatory to have the notebooks (installation from PyPI does not include the notebooks). And now we are using Jupyter extensively for almost ever

[2018-06-20 19:16] perone commented on #109
It's up to you guys, I usually prefer installation through the official PyPI because it's easier, just `pip install axondeepseg`, but if users are familiar with GitHub I don't see any problem. The only problem with recommending GitHub installation is that you can easily lose track of which version they're using because there is no version anymore, just a commit hash that you can use.
I personally

[2018-06-21 05:39] jcohenadad commented on #109
A workaround wrt. versioning would be to catch the commit hash and include it in some sort of output log file, that users can send us afterwards

[2018-06-29 16:10] mathieuboudreau commented on #97
I fixed the test that was failing in commit [58fcf8b](https://github.com/neuropoly/axondeepseg/commit/58fcf8b524105f09c774265ae87c0b638fac0852), by only testing for the two absolutely required sanity test cases regardless of overlap (first patch = first quadrant, last patch = last quadrant).

I'm going to close this issue now since my original question has been answered, and open a new one for the

[2018-06-29 16:10] #97 closed

[2018-06-29 16:11] mathieuboudreau opened #111 "Implement a configurable patch extraction overlap"
As suggested by @perone in issue #97.

[2018-06-29 22:27] mathieuboudreau opened #112 "Rescaling function: Replace magic number with value relative to image size"
This isn't really a bug per-say so I didn't label it as such, but is more of a code smell that risks causing an issue for certain cases in the future.

In the `rescaling` function of data_augmentation.py, the function returns the original patch if the rescaling results in a difference of an arbitrary/magic value 5 voxels or less (apparently to avoid having a certain parameter = 0):

https://github

[2018-07-01 22:13] mathieuboudreau opened #114 "Ensure backward compatibility of config_network files"
Due to some recent changes (e.g. [renaming the config key "weighted_cost_activate" to "weighted_cost-activate" in train_model.py](https://github.com/neuropoly/axondeepseg/blame/150cf46c8e8326f1ebbc4bdd6230ecfdcfbfbd3e/AxonDeepSeg/train_network.py#L42), older version of config_network.json files (e.g. [this one](https://github.com/neuropoly/axondeepseg/blob/master/AxonDeepSeg/models/default_SEM_mod

[2018-07-04 16:03] jcohenadad opened #115 "install sentry"
have a look at SCT project for inspiration on how to deploy sentry, and also how to announce opt in/out to the user.

[2018-07-04 16:13] jcohenadad commented on #74
sorry i did not indicate the original data that was used. so, let's try to reproduce the bug on a dataset. Maybe try this: https://osf.io/jbh32/, or other images from the same repository.

[2018-07-04 16:18] jcohenadad commented on #74
to reproduce, download this gif from github and only keep the image part (remove the seg).

this bug is likely related to the presence of the white/gray border in the image. If that's the case, then we can drop the priority, and maybe consider adding a check in the future (e.g., look for regions with 0 STD in a given neighbourhood).

[2018-07-06 12:38] mathieuboudreau commented on #115
@jcohenadad Do you pay for a Sentry subscription for SCT? https://sentry.io/pricing/

If so, can you (or whoever is managing it for SCT) add me as a user so I can create/manage an AxonDeepSeg project within that organisation?

If not, I'll create a free one for AxonDeepSeg (I only have a personal one right now to test it out), however I think that plan is limited to a single user (we'll need to sh

[2018-07-06 13:13] jcohenadad commented on #115
@mathieuboudreau we use free license, which implies that reports are sent to a single email address pertaining to the organization. Because we don't want to merge reports from different projects (SCT, ADS, etc.), I've created a new Sentry organization as well as a new Gmail address specifically for AxonDeepSeg. Information added to the [wiki](https://github.com/neuropoly/axondeepseg/wiki/sentry).

[2018-07-19 14:00] mathieuboudreau opened #118 "When to increase __version__ in project's __init__.py?"
Currently on master it's listed as v0.5:

https://github.com/neuropoly/axondeepseg/blob/4fb50073a22d6358451567a4004236796d84058c/AxonDeepSeg/__init__.py#L1

Even though the most recently tagged release is 0.4.1:

https://github.com/neuropoly/axondeepseg/tags

(Also, notice the most latest version on ADS PyPi is actually only 0.3: https://pypi.org/project/AxonDeepSeg/#history)

I'm assuming that @a

[2018-07-20 13:01] mathieuboudreau commented on #118
That sounds like a great strategy – thanks @perone !

Since currently we've been treating *.x.* as major and *.*.x as minor, should we maybe move to version 1.0 (the paper's been published anyways) after the upcoming Sentry and Testing Suite PR's are merged, and start your `[major].[minor]` strategy from there?

[2018-07-20 13:44] perone commented on #118
I also think it's a good idea to move to the 1.0 version.

[2018-07-23 15:58] #115 closed

[2018-07-23 20:05] ferozemohideen opened #119 "command line support for TIF files?"
I get an OSError saying "Not a directory" when I try to pass in TIF files, but PNG works fine. How do I segment TIF files?

[2018-07-23 20:14] mathieuboudreau commented on #119
Thanks for raising this issue @ferozemohideen – I'll take a look at it later this week!

[2018-07-23 20:32] ferozemohideen commented on #119
Thanks Mathieu! I was trying to segment the following TEM image that was originally a TIF file I later converted into a PNG file:
![2_001c](https://user-images.githubusercontent.com/40551216/43101235-78f4a226-8e8d-11e8-8666-fdba8a233071.png)
However, when I segmented the image, this was the output:
![_segmented2_001c](https://user-images.githubusercontent.com/40551216/43101254-88cfc5a4-8e8d-11e8-9

[2018-07-23 20:35] mathieuboudreau commented on #119
Hmm, I'm going to ping @alzaia as he had more experience segmenting a large variety of datasets (and is the first author of the paper), so he might have an insight. If he doesn't respond by later this week, I'll take a look myself using the images you provided. Do you know what the resolution (per pixel) of your TEM image is?

[2018-07-23 20:38] ferozemohideen commented on #119
Thanks! The size parameter I inputted was 0.007 microns.

[2018-07-23 21:02] jcohenadad commented on #119
@ferozemohideen thank you for reporting the issue. I tried running the following with the image you uploaded on github:
[code]

and here is the result:
![anim](https://user-images.githubusercontent.com/2482071/43102830-3444ef70-8e9a-11e8-8156-f94aef20b2c4.gif)

could you please try running the code and let us know if you obtain the same result as I do? If not, could you please let us know which AD

[2018-07-23 21:05] #76 closed

[2018-07-23 21:49] ferozemohideen commented on #119
Hi Julien, thanks for the quick reply. Unfortunately I ran the same command and received the same image as before as an output. I installed ADS today through pip so I believe I am up to date, but I don't know what I'm doing wrong.

[2018-07-23 22:03] mathieuboudreau commented on #119
@ferozemohideen Ah ha, I just discovered last week that the pip version is quite out of date (v0.3 vs 0.4.2(stable) or 0.5(dev), so that may be the source of your issue. I will try to update that version soon.

In the meantime, if you'd like you could try downloading the latest version through GitHub (clicking the green "Clone or Download" button [here](https://github.com/neuropoly/axondeepseg), o

[2018-07-23 22:14] mathieuboudreau commented on #119
I just tried in on both versions and reproduced @ferozemohideen 's segmented image using a venv installed with the latest pip version of ADS, and reproduced @jcohenadad 's segmented image on a venv installed with the current master version.
<details>

AxonDeepSeg v0.3 (pip)

![_segmented43101235-78f4a226-8e8d-11e8-8666-fdba8a233071](https://user-images.githubusercontent.com/1421029/43105766-a4b502

[2018-07-24 00:55] mathieuboudreau commented on #118
@perone I tried creating a version using your nomenclature ("0.5dev" in __ini__.py) and packaging it for PyPi using [these instructions](https://github.com/neuropoly/axondeepseg/wiki/How-to-update-axondeepseg-wheel-in-PyPI).

It's showing up on the website (https://pypi.org/project/AxonDeepSeg/0.5.dev0/), but when trying to install it, my local pip can't find that dev version:

[code]

Do you know

[2018-07-24 01:57] mathieuboudreau commented on #118
Nevermind, it finally showed up after 4 hours or so. 🎉

[2018-07-24 15:18] ferozemohideen commented on #119
@mathieuboudreau @jcohenadad thanks so much for your help, I got it to work now! As a quick question, if I am now trying to extract parameters like gratio, axon diameter, axon density, do I have to write my own script using the methods in your tutorial?

[2018-07-24 15:46] oumayb commented on #119
@ferozemohideen there is a notebook that allows you to extract morphometrics from your predicted segmentation. It's here: https://github.com/neuropoly/axondeepseg/blob/master/notebooks/morphometrics_extraction.ipynb

[2018-07-24 17:14] mathieuboudreau commented on #119
@ferozemohideen could you check if you're able to segment the *.tif image now that you've installed the latest version of ADS? TIF support may have been added between v0.3 (the first one you used) and the current master version.

[2018-07-24 18:37] ferozemohideen commented on #119
@mathieuboudreau I just tried again and this time it gives me the error "The path specified is/are not image(s). Please update the input path(s) and try again."

[2018-07-24 18:38] mathieuboudreau commented on #119
@ferozemohideen Ok thanks! I'll look into it.

[2018-07-24 18:52] mathieuboudreau commented on #119
@ferozemohideen @jcohenadad One thing I just discovered is that I get that message if the extension is capitalised (*.TIF), but the processing works for me on a sample image if the extension is lowercase (*.tif), which means we have a case sensitive implementation. If that's the only bug related to this, it should be a simple fix.

[2018-07-24 20:53] #119 closed

[2018-07-24 20:57] mathieuboudreau commented on #119
@ferozemohideen This issue should be resolved in the latest version of the master branch (it is for me), which will be included in the next PyPi release. If you encounter this issue again in the future when running ADS on the current (or future) version of master, please reopen this issue. (FYI: You'll have to either redownload ADS, or pull the new updates with `git pull` if you cloned it for thes

[2018-07-25 15:06] ferozemohideen commented on #119
@mathieuboudreau  @jcohenadad thanks so much for all your help!

[2018-07-26 18:34] mathieuboudreau commented on #114
@jcohenadad I'd like to keep them separate. The new config file is specific to the user's ADS setup as a whole, whereas the config network file is specific to the hyperparamters of a training session, which a user might want to have multiple config files (depending on if they're trying different hyperparameters for the training).

[2018-07-26 18:58] oumayb opened #122 "BUG: fail in call to generate_dict_da in train_model function in train_network.py"
I'm trying to run the train_model function from the train_network.py file, and I get the following error message: "ValueError: need more than 2 values to unpack"

It's caused by this line:
https://github.com/neuropoly/axondeepseg/blob/2def1c0a022b009ba9c81ae96e9b3f36ab66f150/AxonDeepSeg/train_network.py#L52

that calls this one:
https://github.com/neuropoly/axondeepseg/blob/2def1c0a022b009ba9c81ae

[2018-07-26 19:00] mathieuboudreau commented on #122
@oumayb could you post (or copy-pase) the config_network file you're trying to use?

[2018-07-26 19:05] oumayb commented on #122
Sure, it's this one:

{
  "learning_rate_decay_period": 24000,
  "batch_norm_decay_decay_period": 16000,
  "learning_rate_decay_type": "polynomial",
  "batch_norm_decay_decay_activate": true,
  "learning_rate_decay_activate": true,
  "learning_rate_decay_rate": 0.99,
  "batch_norm_decay_ending_decay": 0.9,
  "depth": 4,
  "weighted_cost-activate": true,
  "weighted_cost_balanced-activate": true,

[2018-07-26 19:10] mathieuboudreau commented on #122
@oumayb yes it's related to the issue I raised that you mentioned. You'll just need to do the following renamings in your file:

weighted_cost_activate -> **weighted_cost-activate**
da-random_rotation-activate -> **da-2-random_rotation-activate**
da-noise_addition-activate -> **da-5-noise_addition-activate**
da-elastic-activate -> **da-3-elastic-activate**
da-shifting-activate -> **da-0-shifting-a

[2018-07-26 19:22] oumayb commented on #122
@mathieuboudreau thanks a lot, it solved my issue.
I also changed:
weighted_cost_boundaries_sigma -> **weighted_cost_boundaries-sigma**
weighted_cost_boundaries_activate -> **weighted_cost_boundaries-activate**
but I'm not sure about the first one.

[2018-07-27 15:13] oumayb opened #123 "BUG: fail in call to train_model from train_network.py when a path_model_init is provided"
I'm trying to use train_model with providing initial weights, but I'm having several issues.

- The first one: IOError: [Errno 2] No such file or directory: '/Users/oubou_admin/axondeepseg/AxonDeepSeg/models/default_TEM_model_v1/evolution.pkl'
That's because I don't have an evolution file for the model I'm loading the weights from, but I think the function should run even if there is no such file

[2018-07-27 16:31] mathieuboudreau commented on #123
@oumayb Regarding the missing pkl file, it was never commited because there used to be a gitignore rule [here](https://github.com/neuropoly/axondeepseg/blob/b74d2da5079ca10a3500a7780a2b92024011a61e/.gitignore#L25) that I removed recently. If @alzaia kept the saved model on a computer, that file may still be there locally for the model you mentioned above, I just don't know which one. Maybe @alzaia

[2018-07-27 16:37] mathieuboudreau commented on #123
On a side note, this line here:

https://github.com/neuropoly/axondeepseg/blob/b3d9574d06739c7e52d2ce832b5efa90031a5f69/AxonDeepSeg/train_network_tools.py#L59

might be creating a bug, since @alzaia changed that key to `weighted_cost-activate`, reinforcing my worries about ensuring retrocompatibility of config files, re: #114

[2018-07-27 17:12] mathieuboudreau commented on #123
Oh and I just fully understood your first question. I don't know why the pkl file should be needed by default for that case, I'd ask @alzaia if this is something that could be omitted permanently or if there's an advantage to it.

[2018-07-27 18:03] oumayb commented on #123
Thanks @mathieuboudreau, I think in fact the bug is caused by the way the variables are written in the config file I'm using.
I'm making the following changes:
- `weighted_cost_boundaries_sigma`==> **`weighted_cost-boundaries_sigma`**
  `weighted_cost_boundaries_activate` ==> **`weighted_cost-boundaries_activate`**
which is different than what I told you yesterday, I'm sorry about that!
https://gi

[2018-07-27 18:08] mathieuboudreau commented on #123
@oumayb Ah ha, that change makes sense now, and so does the bug!

I'm fairly sure that bug should be fixed, but would need to look at the code a bit more just to be 100% sure.

[2018-07-27 18:14] oumayb commented on #114
@mathieuboudreau I also changed the following keys in the config file because they were causing a bug:

`weighted_cost_balanced_activate` ==> **`weighted_cost-balanced_activate`**
`weighted_cost_balanced_weights`==> **`weighted_cost-balanced_weights`**

[2018-07-27 18:35] alzaia commented on #123
Hey guys, I'm not sure I remember what the pkl file was for. But if you run the training using the notebook, it will also create a config file (that should be valid) and the files TF uses for training/save/restore, so you can check which files are expected to be there. I can look more into it this weekend.

[2018-07-27 18:43] oumayb commented on #123
@alzaia thanks!
For the pkl, I'm currently training a model initialized with pre-trained weights, without providing a pkl evolution file, I'll see if it causes any problem.

[2018-08-01 16:13] jcohenadad commented on #87
now using readthedocs

[2018-08-01 16:13] #87 closed

[2018-08-01 23:44] mathieuboudreau commented on #34
I just revisited this, and I think this specific issue is not a high priority anymore nor what I would call a bug anymore. My suggestion, as I'll argue below, would be lower this issue priority to low and reference it in issue #29 to be resolved there.

What we need to do, as hinted in a few comments above, is deal with this in the exception handling issue #29  (which is barebones and/or non-exist

[2018-08-02 01:42] mathieuboudreau commented on #29
* [ ] Add exception handling for case in issue #29

[2018-08-02 14:51] jcohenadad opened #126 "CHANGELOG is not up-to-date"
We should maintain [CHANGELOG.md](https://github.com/neuropoly/axondeepseg/blob/v1.0/CHANGELOG.md) and redirect to it when creating new releases. For now i suggest we manually add the main changes into the CHANGELOG, and in the future we could use [this function](https://github.com/neuropoly/spinalcordtoolbox/blob/master/install/sct_changelog.py) to generate changelogs automatically, based on PR's

[2018-08-02 14:59] mathieuboudreau commented on #126
Thanks for pointing this out @jcohenadad, I hadn't really noticed that file I think. Do you want to retroactively add all the previous changes for each [tagged releases](https://github.com/neuropoly/axondeepseg/releases) in it? They are quite sparse in details and in frequency – it could be quite a chore to sort through each commit (since we only recently switched to squash and merges for PRs) to

[2018-08-02 15:09] jcohenadad commented on #126
i would not bother too much and just start with recent updates (e.g. moving the blurb you wrote for 0.6 inside the changelog). thanks!

[2018-08-02 15:11] perone commented on #126
PS: remember that we have the Changelog in the documentation now (http://axondeepseg.readthedocs.io/en/stable/documentation.html#changelog)

[2018-08-02 15:39] mathieuboudreau commented on #126
@perone thanks for pointing that out – that wasn't indicated as a step in the wiki page on how to create new releases: https://github.com/neuropoly/axondeepseg/wiki/How-to-create-a-new-release

[2018-08-02 16:23] jcohenadad opened #127 "Testing issue upon installation"
I tried fresh installation on OSX, following the doc (stable release 1.0), and obtained the following issue when running `axondeepseg_test`:

<details>

[code]

</details>

And when running `axondeepseg` i get the following:

<details>

[code]

</details>

[2018-08-02 16:28] mathieuboudreau commented on #127
Hmmm, I created a fresh venv too yet it worked for me (axondeepseg_test integrity test passed).

The only difference possibly is that I used conda to create my venv (since my default Python version on my laptop is 3.x, I need to go through conda to create a venv that has 2.7).

I'll make a fresh Ubuntu virtual machine and test it on that from scratch – thanks for double checking this @jcohenadad

[2018-08-02 18:39] jcohenadad commented on #127
@mathieuboudreau indeed, that could be the difference. I used native's OSX Python 2.7 to create the venv.

[2018-08-02 18:44] mathieuboudreau commented on #127
@jcohenadad Actually I google your error, and the first google link I saw was already purple...: https://stackoverflow.com/questions/21784641/installation-issue-with-matplotlib-python

Seems that I had done that local fix (added ~/.matplotlib/matplotlibrc with the line `backend: TkAgg`) a long time ago on my laptop. I'm testing out another solution right now (in branch [mpl_bug](https://github.com

[2018-08-02 19:15] mathieuboudreau commented on #127
Ok @jcohenadad , the new pre-release/development version is available on pip, so when you have the time, please try installing from scratch again with the commande `pip install --pre axondeepseg==1.1dev0` and let me know if this resolves your issue.

[2018-08-02 19:31] jcohenadad commented on #127
testing pass, but i keep having these weird RuntimeWarning from numpy

<details>

[code]

</details>

[2018-08-02 19:37] mathieuboudreau commented on #127
Ya I just noticed this too – I think it's because we have a requirement for numpy greater to a certain version and not equal to one, and they just recently (July 23rd) upgraded to 1.15 (hence we did as well).

A lot of people seem to be annoyed by this warning: https://github.com/numpy/numpy/issues/11628

I think we might be able to resolve it by setting the `numpy==14.5` or lower in the requireme

[2018-08-03 11:50] #127 closed

[2018-08-16 16:52] jcohenadad commented on #74
info from @oumayb: she tested on data without border and also obtained similar artifact.

[2018-08-16 18:39] oumayb commented on #74
@jcohenadad do you have the pixel size for this image please?

[2018-08-16 20:00] jcohenadad commented on #74
@oumayb i think these are the data from Shawn Mikula

[2018-08-22 18:58] oumayb opened #130 "BUG: fail in call to axon_segmentation from apply_model.py when no element is detected"
When trying to apply a trained model using the `axon_segmentation` function from the `apply_model.py` file on a test image, this message error appears sometimes.
Could it be because the model applied hasn't learned enough? In that case, shouldn't the function just create a mask image with only background, and not try to generate myelin and axon masks?

The applied model:
https://drive.google.com/d

[2018-08-22 23:54] mathieuboudreau commented on #130
@oumayb have you been experiencing this mostly in the Python 3.6 branch, or have you ever experienced it before while using Python 2.7?

[2018-08-23 03:13] oumayb commented on #130
@mathieuboudreau I've experienced it before while using Python 2.7.

[2018-08-23 19:02] #17 closed

[2018-08-23 19:03] jcohenadad commented on #74
@oumayb can you check with varying the value of the flag `-o`, see if it has an impact, and if does it means that we need to look into how the overlap is managed inside the code.

[2018-09-11 13:38] #92 closed

[2018-09-11 13:38] mathieuboudreau commented on #92
Resolved in release v2.0.

[2018-09-11 13:39] mathieuboudreau commented on #91
Resolved in release v2.0.

[2018-09-11 13:39] #91 closed

[2018-09-25 00:20] jcohenadad opened #133 "Store models in another repository"
Instead of storing models under ADS GH repository (which adds fat) we should store them in another server (e.g., OSF) and curl/wget them upon ADS installation (or per demand).

We could e.g. create a function `ads_download_data` like [in SCT](https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_download_data.py).

[2018-10-23 19:22] jcohenadad opened #138 "Better management of RAM during resampling"
During resampling, if data is too large for the RAM, it starts swapping until available HD storage is reached, leading the station to lamentably crash (not enough free space to run the OS).

To reproduce:
data: https://osf.io/28k4m/
syntax (note: the value `-s 1` is purposely wrong to make the system crash):
[code]

Here's what happened to my poor 16GB RAM and 30GB ROM OSX (p.s. swap would have co

[2018-10-23 19:56] #34 closed

[2018-10-23 20:00] mathieuboudreau commented on #138
That makes sense! We handled the case for too small pixel sizes, it's logical to do so for too large. What's happening here is that it's resampling the image to a standard size (I think about 0.001 for TEM), so if you say your pixel sizes are 1, it will try and divide each by 1000x1000, certainly causing a memory overflow.

I agree with both your proposed avenues (though I'm not sure why your seco

[2018-10-23 20:04] jcohenadad commented on #138
i would not venture into assessing what's a "logical max pixel size", because ADS might evolve towards a typical use-case where users would train a model for their own data and then use ADS with their model (i.e. we loose the concept of SEM/TEM).

[2018-10-23 20:08] mathieuboudreau commented on #138
Ok - although, the CLI interface has a lot of SEM/TEM details hardcoded already – but that's another story.

I still think there should be some kind of upper limit where we at least give the user a warning message saying "Hey, are you sure you meant to input this pixel size? The units we assume are in micrometer" – it's a lot more useful if they made a typo than just checking the users maximum all

[2018-10-29 16:39] perone opened #139 "Potential issue with gold standards (or fifty shades of myelin)"
I was experimenting with a model and I used data from the folder `SEM_3c_512` (Duke) and I found that the gold standards contained a range of pixel intensities that weren't one of the three classes [background, myelin, axon]. For instance, if I just want the myelin content, I threshold for the myelin pixel intensity and it creates a ground truth like this one below:

![image](https://user-images.g

[2018-11-01 22:45] mathieuboudreau commented on #139
I suspect this line could be the source of this issue:

https://github.com/neuropoly/axondeepseg/blob/9e59f536da6c709d0341999ae2b11945de588cb2/AxonDeepSeg/data_management/dataset_building.py#L48

I'm not 100% sure, but by quickly browsing Duke, it appears to me that this issue only happens to patched datasets, not the raw masks. I can't confirm though, as I am not sure yet where the matching raw d

[2018-11-01 23:40] mathieuboudreau commented on #139
Just did a quick test of raw_img_to_patches. Downsampling (e.g. 0.07 to 0.1) doesn't seem to cause introduce new values (or maybe very few), whereas upsampling (e.g. 0.37 to 0.1) predictably introduces almost every possible bin value into the mask. Setting `order=0` seems to resolve this.

 So this is definitely a big part of this problem, but it may be present elsewhere (e.g. data augmentation).

[2018-11-01 23:46] mathieuboudreau commented on #139
Here's a gif of a patch generated with `order=1` (bi-linear interpolation) vs `order=0` (nearest neighbour interpolation).

![order_1_v_0](https://user-images.githubusercontent.com/1421029/47886145-61bc1700-de1b-11e8-9d1d-72b5cd00b745.gif)

[2018-11-06 20:18] perone opened #141 "AxonDeepSeg Refactoring"
**PS: this will be discussed in the meeting on 07 Nov 18.**

AxonDeepSeg nowadays has a very complex codebase, specially for the model definition where the TensorFlow low-level API is being used. What we want to do is to simplify some things to reduce the amount of complexity and code from the codebase.
One ideia is to migrate the code to use either Keras or PyTorch. This would be a change that wi

[2018-11-06 21:07] mathieuboudreau commented on #141
Right now, some of the code is hardcoded very specifically for SEM/TEM (e.g. see below some examples). I think identifying where these occur, and how these can be generalised/extended for any new model we want to introduce, might also worth exploring during this refactoring.

https://github.com/neuropoly/axondeepseg/blob/476bb3fcf1a5092514c4c73d124a8e9f46d6015b/AxonDeepSeg/data_management/dataset_

[2018-11-06 22:55] jcohenadad opened #142 "Installation: Update doc"
- currently the [doc](https://axondeepseg.readthedocs.io/en/stable/documentation.html#axondeepseg) suggests to install v1.9.0, which based on the recent PR #140 should be v1.3.0
- we should provide an intuitive step-by-step installation with miniconda to make sure people install proper version of conda, pip, venv, etc. to avoid problems like this one #143

[2018-11-06 22:57] jcohenadad opened #143 "No matching distribution found for tensorflow==1.3.0"
using 2bee818b5be963b11f57733b110f1818daebf402 on `rosenberg`, i cannot properly install tensorflow==1.3.0:
[code]

[2018-11-06 23:01] mathieuboudreau commented on #143
@jcohenadad I hit this issue too, but I don't remember what exactly solved it. As you can see, I think your virtual environment actually doesn't find any available versions for tensorflow (`(from versions: )`).  Feel free to try to install any other version (our previous one was 1.9.0) to see if it'll install, but I think not.

Did you create your virtual environment with `conda` or `virtualenv`?

[2018-11-06 23:02] jcohenadad commented on #143
i used conda

[2018-11-06 23:02] jcohenadad commented on #143
[code]

:-(

[2018-11-06 23:05] jcohenadad commented on #143
note: i'm on miniconda (not anaconda)

[2018-11-06 23:06] mathieuboudreau commented on #143
Yeah, I haven't been able to create a good virtualenv with conda yet on Rosenberg. Maybe @perone can chime in again.

The virtual environment steps that ended up working for me last week (passing pip installation & passing unit tests) were:

* Go to the user's home directory `~`
* `python3.6 -m virtualenv venv_ads`
* `source venv_ads/bin/activate`

[2018-11-06 23:06] mathieuboudreau commented on #143
@jcohenadad Ah ha, yes, when I tried installing with conda, I was using miniconda too. That might be part of the problem.

[2018-11-06 23:14] jcohenadad commented on #143
i would like to explore possibilities with miniconda, because it is much lighter (not for me, but for potential ADS users). Maybe the issue is related to 3.7 (https://github.com/tensorflow/tensorflow/issues/17022#issuecomment-435357209). Exploring...

[2018-11-06 23:17] mathieuboudreau commented on #143
Ahh yes, I think that's how I got around it too. Your venv/miniconda is using 3.7.1, there's no tensorflow versions available for that Python 3.7.

[2018-11-06 23:18] jcohenadad commented on #143
yup! i confirm: it's a 3.7 issue. Works with 3.6

[2018-11-06 23:19] jcohenadad commented on #143
we should definitely update the doc and provide a step-by-step installation with (mini)conda.

[2018-11-06 23:37] mathieuboudreau commented on #142
We should also add installation instructions if they intend to use their GPU (tensorflow needs to be uninstalled, and tensorflow-gpu==1.3.0 needs to be installed afterwards).

[2018-11-07 19:50] jcohenadad opened #145 "Wrapper for patching"
Currently the patching is integrated into ADS training/inference pipeline and is hard to run in isolation. The idea would be to create a function that can be called via terminal, e.g.:
[code]

more info in this notebook: https://github.com/neuropoly/axondeepseg/blob/2b2a15bae2040fa0969cf027a127254af82523be/notebooks/guide_dataset_building.ipynb

[2018-11-07 19:52] mathieuboudreau commented on #145
I think it needs to be a different command (e.g. axondeepseg_patch), because the CLI `axondeepseg` points specifically to `main` of segment.py, and the patching is dealt with in another file

[2018-11-07 19:56] mathieuboudreau commented on #145
Some useful tips:

* Tests should be written for this CLI (see [here](https://github.com/neuropoly/axondeepseg/blob/2bee818b5be963b11f57733b110f1818daebf402/test/test_segment.py#L215-L235) for examples)
* There are unit tests for patch extraction (not CLI) [here](https://github.com/neuropoly/axondeepseg/blob/2bee818b5be963b11f57733b110f1818daebf402/test/test_segment.py#L215-L235).

[2018-11-07 20:06] jcohenadad commented on #145
Agreed. But maybe for the futur we could consider having different actions (like when calling "git push, git merge, etc.)

[2018-11-07 21:40] mathieuboudreau commented on #145
I agree – I'll actually open an issue for that now, and if that one gets resolved sooner than this one, then we should go with your original proposal.

[2018-11-07 21:45] mathieuboudreau opened #146 "Consolidate all CLI commands into a single entrypoint"
Currently, each CLI command have separate names (e.g. `axondeepseg` for segmentation, `axondeepseg_test` for integration).

As proposed by @jcohenadad in #145, we should refacture these into a single common entrypoint (e.g. `axondeepseg segment`, `axondeepseg test`, `axondeepseg patch`, etc.).

[2018-11-07 22:27] jcohenadad opened #148 "Should we keep all Jupyter notebooks?"
Currently, there are 18 notebooks:
- some with very cryptic names
- most of them without documentation (and some doc is in French)
- with some redundancy between notebooks
- most of them contain only few lines of code that don't deserve to be in a notebook for someone who knows a minimum of Python programming

Those notebooks are becoming a dump of "nice functionalities to have" without proper har

[2018-11-07 22:37] mathieuboudreau commented on #148
I'm leaning on option 1. Jupyter notebooks being "official tools part of ADS that are necessary for doing XYZ tasks" is not appealing to me, as I've had kernels crash on me before, which are a major nuisance. Jupyter notebooks also can't be regularly tested using any testing suites, leaving it up to the individuals to keep it up to date, otherwise you'll encounter issues like #147 .

Notebooks are

[2018-11-07 22:43] mathieuboudreau opened #149 "Move testing files to OSF & the option to download them"
When first I wrote the py.test testing suite, it included a few additional data files in [axondeepseg/test/\_\_test_files\_\_/](https://github.com/neuropoly/axondeepseg/tree/master/test/__test_files__) used for the tests, for similar purposes as the `axondeepseg_test` demo files in [axondeepseg/AxonDeepSeg/data_test/](https://github.com/neuropoly/axondeepseg/tree/master/AxonDeepSeg/data_test).

Th

[2018-11-07 23:36] alzaia commented on #148
There are definitely a lot of notebooks out there and most of them are 'draft' versions from past students.

In case you go with approach 2 above, here are the notebooks that are clean enough and well documented:

* The getting started notebook (Binder): https://github.com/neuropoly/axondeepseg/blob/master/notebooks/getting_started.ipynb
* Creating dataset of patches for training: https://github.c

[2018-11-08 03:11] perone commented on #148
Another alternative is to keep only a minimum of notebooks showing the API usage (like the ones that Aldo posted in the message above), but move everything else to command-line tools, so there is a non-programmatic way to do every step of the pipeline:

1. Build the dataset
2. Training/fine-tuning
3. Prediction (generate prediction masks)
4. Morphometrics extraction from the prediction masks

[2018-11-08 14:36] mathieuboudreau commented on #148
@perone The "minimum of notebooks" you suggest basically cover all of the functionality available on AxonDeepSeg API in its current state, so if we do that, I agree with Julien that we should give up the CLI and force the users to use the notebooks for processing. Otherwise, notebooks are neglected during development and get outdated when changes are made, since they cannot be tested with continuo

[2018-11-08 14:45] jcohenadad commented on #148
there might be ways to include notebooks in our CI:

- https://github.com/ruaridhw/jupyter-ci
- https://www.cityscience.com/blog/ci-for-jupyter.html

[2018-11-08 15:00] perone commented on #148
What about if we just keep a single notebook with an example since the data generation up to the morphometrics extraction and execute it with `nbconvert` during the continuous integration ?

I think that if we have a unit testing for the API, that uses the same API used by notebooks, there is no way that the notebooks would fail if the unit testing isn't failing right ?

[2018-11-08 15:05] mathieuboudreau commented on #148
That holds unless there are major refactoring, e.g. our previous Python 2 to 3 refactoring and the upcoming planned refactoring.

Also, although I try my best, I don't think we've fully embraced the [semantic versioning](https://semver.org) approach in this project yet, where we we should not allow any API (e.g. function args) changes for *.x.* and *.*.x versions. That should be embraced too, if w

[2018-11-09 02:14] mathieuboudreau commented on #142
@jcohenadad Have you had any success installing/running ADS within a miniconda venv on Rosenberg? I tried  doing so again, but still keep getting errors that are hinting that my miniconda venv might not be "closed". Here are the steps I followed:

* `wget https://repo.continuum.io/miniconda/Miniconda3-3.7.0-Linux-x86_64.sh -O ~/miniconda.sh`
* `bash ~/miniconda.sh -b -p $HOME/miniconda`
* `echo 'e

[2018-11-09 02:30] jcohenadad commented on #142
i managed to get ads running with miniconda 3.6., however i did it on bireli (not rosenberg), because all GPU are jammed ;-)

so, i am wondering if there is something that has to do with rosenberg /usr/'s installations? the fact that pip pointed to the wrong one (before you rebooted) is highly suspicious (and maybe related to all the following issues?).

Maybe you can try to reproduce the exact sa

[2018-11-09 03:33] mathieuboudreau commented on #142
Good insight - after digging some more I decided to delete `/home/mabou_local/.local/lib/python3.6/site-packages` because it had a lot of conflicting packages, and then pip install & py.test worked fine. Not sure why this folder was being accessed/seen when running within a conda venv, I'm wondering if I caused this issue with some of my previous tests/debuggings.

I'll try the miniconda steps fro

[2018-11-09 15:21] alexfoias commented on #142
@mathieuboudreau You can use your polygrames account to connect to bireli. We are currently facing some network problems and the authentification might not work. I contacted the network admin and should be fixed soon. I will slack you once is fixed. Sorry for the delay.

[2018-11-09 19:34] jcohenadad opened #151 "ads/models and ads/AxonDeepSeg/models: Remove one"
there are two "models/" folders. We should figure out which one is currently used, and remove the other one

[2018-11-10 01:08] mathieuboudreau commented on #151
`ads/models` currently doesn't contain any actual model files, just a config_to_csv.py file which has some tools that might be useful (e.g. to compare models), but I don't think it's been used in a long time (last edited by @maxwab over a year ago) and I'm unsure if it's compatible with our current config files.

`ads/AxonDeepSeg/models` contains the current most up-to-date SEM and TEM models, how

[2018-11-10 18:56] jcohenadad opened #152 "Unclear management of pixel size during training"
When training a new model (e.g., see [training_guideline.ipynb](https://github.com/neuropoly/axondeepseg/blob/master/notebooks/training_guideline.ipynb)), the dimension of the working pixel size is never explicit. This poses a problem when doing inference using this model, because it is not clear what resolution the input image will be resampled to (it should be resampled to the resolution of the

[2018-11-10 19:39] mathieuboudreau commented on #152
Here's where they are currently set. Values are in micrometers I believe.

https://github.com/neuropoly/axondeepseg/blob/9e59f536da6c709d0341999ae2b11945de588cb2/AxonDeepSeg/segment.py#L221-L237

As I mentionned in #141, currently all SEM/TEM model details are sparsley hardcoded throughout the project, and should be refractored in a single file so that its easier to add new modalities, and so that

[2018-11-10 19:43] mathieuboudreau commented on #152
And I agree that the notebooks should be more verbose about these details.

[2018-11-10 20:07] jcohenadad commented on #152
Thank you @mathieuboudreau!  Indeed, the modality-based resolution is highly problematic for 2 reasons: (i) the modality (SEM/TEM) is really not a good surrogate for resolution and (ii), the resolution of input images is completely ignored (e.g., training with images from different resolutions will induce size heterogeneity). One possible workaround is to refactor the code, asking to input image n

[2018-11-10 20:14] mathieuboudreau commented on #152
Yeah, point ii) is worrysome. I'm guessing that these sizes were simply picked because they allowed the wanted patch sizes for each modality.

[2018-11-11 01:44] jcohenadad commented on #130
I've run into the same issue on py3k (with commit d330de2b35979b4d0fcf13ecef5600f53edabf6d).

[2018-11-11 19:59] #151 closed

[2018-11-14 14:26] elianalousada opened #153 "ModuleNotFoundError: No module named 'raven'"
Hello. I'm trying to start training the algorithm and this is the error I get when importing the libraries. Any thoughts? Thank you.

[2018-11-14 14:29] mathieuboudreau commented on #153
Hi Eliana,

Try installing the pip requirements again (e.g. in the axondeepseg/ folder, run `pip install -e .`). The module 'raven' is an external Python module that needs to be installed, which we added to the requirements a few months ago.

[2018-11-14 15:51] elianalousada commented on #153
Thank you Mathieu, it worked. :)
 Should be different topic, but anyway... Got this error when trying to segment:
ValueError: Cannot feed value of shape (1, 216, 205) for Tensor 'Placeholder:0', which has shape '(?, 512, 512)'
Can't seem to work around it.

[2018-11-14 16:53] mathieuboudreau commented on #153
Great - happy that's one thing that's cleared up!

As for your second point, two questions:

1 - What version of AxonDeepSeg are you running (if you downloaded it from GitHub look inside axondeepseg/AxonDeepSeg/_init_.py; if you downloaded it with the `pip` command, run `pip show axondeepseg`).
2 - What command are you running

Typically, I believe that error occurs because in ADS because images a

[2018-11-14 18:02] mathieuboudreau commented on #153
As a temporary workaround, you could assign a larger pixel size to the image you want to segment (e.g. if using SEM, add the flag `-s 0.1` (default resolution for SEM), then try larger numbers like 0.2, 0.3). This will make ADS upsample (& interpolate) your image, which should then have enough voxels to create at least one patch of size 512x512.

This should only be for testing purpose though, it'

[2018-11-15 21:12] mathieuboudreau opened #154 "[Refactor] Standardise how paths are handled"
Currently, some paths are handled with string manipulations,

https://github.com/neuropoly/axondeepseg/blob/003f9fa5874623e0941078e68d0c4839ae3ee8e0/AxonDeepSeg/data_management/input_data.py#L146

whereas others use the more OS-agnostic `os.path.join()` calls

https://github.com/neuropoly/axondeepseg/blob/003f9fa5874623e0941078e68d0c4839ae3ee8e0/test/test_config_tools.py#L126

but these are also a

[2018-11-15 21:21] mathieuboudreau opened #155 "Refactor/revert functionality for data augmentation order"
This will (should) be addressed when refactoring ADS with higher level libraries like Keras/Pytorch (#141).

See discussion near the end of PR #150 for details of old/vs new functionality, and why we want to revert to the old method (or a "better" one that doesn't use values the key names are variables).

i.e. Something like this happened for all data augmentation key-val definitions in the config

[2018-11-21 18:18] elianalousada commented on #153
Indeed if I change the pixel size it works. But not sure about that being the correct way to work around this issue.

[2018-11-21 18:33] mathieuboudreau commented on #153
What's the size of your image (# pixel **x** # pixel), what's the resolution of your image, and what's the modality flag that you're giving it (SEM or TEM)?

[2018-11-26 17:23] elianalousada commented on #153
Hello Mathieu, I sent you an e-mail. Not sure if you got it. I've been having some more issues, can we skype onde of these days? Thank you in advance.

[2018-11-29 13:00] elianalousada opened #156 "ResourceExhaustedError"
Hello,

When launching the training procedure, using the training_guideline jupyter notebook, I get an error message that says:
ResourceExhaustedError (see above for traceback): OOM when allocating tensor with shape[243,1024,1024,16]
Might be due to a too big of a batch size? Or patch size actually...

Best,
Eliana

[2018-11-29 14:14] mathieuboudreau commented on #156
As we chatted about in our Skype call today, this is likely due to too large patch size and/or because you're running on CPU. I'll get back to you after our next group meeting!

[2018-11-29 20:43] MelanieLu opened #157 "Pixel resampling for patching: general_pixel_size can not equal image's pixel_size_in_micrometer parameter"
When testing the function `dataset_building.raw_img_to_patches() ` to create new patches the error:
[code]
raises if the value of the `general_pixel_size` input parameter the function is equal or larger than the actual pixel_size of the image, provided in `pixel_size_in_micrometer.txt` file associated with the image.

This test was done by executing the first cells of `guide_dataset_building.ipynb

[2018-11-29 21:14] mathieuboudreau commented on #157
Whats the command that you run, as well as the size of your image and input resolution you provide?

[2018-11-29 21:15] mathieuboudreau commented on #157
Also, which image did you try (folder & file location on NeuroPoly server)

[2018-11-29 21:36] mathieuboudreau commented on #157
Just did - thanks!

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Mélanie Lubrano <notifications@github.com>
Sent: Thursday, November 29, 2018 5:55:50 PM
To: neuropoly/axondeepseg
Cc: Mathieu Boudreau; Comment
Subject: Re: [neuropoly/axondeepseg] Pixel resampling for patching: general_pixel_size can not equal image's pixel_size_in_micrometer parame

[2018-12-14 20:35] jcohenadad opened #158 "download_data: No need to specify remote zip name anymore"
in [ads_utils:download_data()](https://github.com/neuropoly/axondeepseg/blob/master/AxonDeepSeg/ads_utils.py#L175), it is no more needed to specify the name of the remote file to download, thanks to the [recent fix](
https://github.com/CenterForOpenScience/waterbutler/commit/1e47eb155d263d3d4916205f65a56770ffacaab6) on OSF.
The simpler implementation [here](https://github.com/neuropoly/spinalcordt

[2019-01-10 19:32] jcohenadad opened #159 "Develop an App for quick segmentation of myelin and/or axons with manual selection"
Typical scenario:
- Load image
- Run prediction
- Overlay prediction on image
- Zoom in particular location
- Edit myelin segmentation in one axon. Myelin should be a closed surface
- Fill axon segmentation (single click inside the axon)
- Do the same in X axons
- Save the segmentation as a single file

Idea to explore: Implement GUI in FSLeyes
- Add plugin to run ADS within FSLeyes
- Convert imag

[2019-01-10 20:03] Stoyan-I-A commented on #159
Thank you! As discussed, I will look into it this weekend.
I am still a bit new to GitHub, can I mark this issue as "Assigned to me"?

[2019-01-10 21:05] jcohenadad commented on #159
@Stoyan-I-A absolutely, i just added you in the team-- once you accept the invitation you should be able to assign yourself

[2019-01-10 22:43] mathieuboudreau commented on #159
Welcome @Stoyan-I-A ! Let me know if you have any questions getting set up. We're close to merging a new recommended installation guideline, but it's not the one you see if you click the doc badge on the repo yet. You can see them here: https://axondeepseg.readthedocs.io/en/update_doc/documentation.html#installation

[2019-01-11 20:07] #142 closed

[2019-01-14 02:15] Stoyan-I-A commented on #159
I installed the development version of AxonDeepSeg by following the instructions and it seems to be installed correctly. I was able to perform a segmentation using the axondeepseg command through the Anaconda command prompt. However, I'm confused on how to implement a script into the software. I was able to write a script that would print "Hello world" and execute it through the Anaconda Prompt, b

[2019-01-14 15:04] mathieuboudreau commented on #159
@Stoyan-I-A Great to hear that the new installation steps worked for you!

Could you clarify what you mean by *I'm confused on how to implement a script into the software.*? Are you trying to write a script in another software using AxonDeepSeg, or do you mean how to write a Python script with the AxonDeepSeg package?

If it's the latter, then it's as simply as creating a new *.py Python file, and

[2019-01-16 00:04] Ayanzadeh93 opened #160 "can we utilize this architecture on other similar types of dataset such as cell segmentation or specially for segmenting of phase contrast microscopy images?"
Hello,
 I am working on the project that is related to segmentation of phase contrast microscopy image. I have a specific question about your architecture,

can we utilize this architecture on other similar types of the dataset such as cell segmentation or especially for segmenting of phase contrast microscopy images?

[2019-01-16 00:56] jcohenadad commented on #160
Hi @Ayanzadeh93, yes it should be possible although you would need to train a new model.

[2019-01-17 11:53] Ayanzadeh93 commented on #160
Thanks for your high consideration. 👍

[2019-02-05 17:16] jcohenadad opened #162 "Implement ADS as FSLeyes plugin"
Useful info here: https://github.com/neuropoly/spinalcordtoolbox/pull/1629#issuecomment-421737334

[2019-02-10 23:20] Stoyan-I-A commented on #162
I'm currently trying to familiarize myself with FSLeyes. I was able to load a dataset and use the edit tool for manual segmentation.

It seems like FSLeyes does allow users to create plugins, as stated in the doc page
https://users.fmrib.ox.ac.uk/~paulmc/fsleyes/userdoc/latest/plugins.html

However I encountered a problem while trying to import a plugin.
I used the "Load plugin" menu item to load

[2019-02-10 23:38] mathieuboudreau commented on #162
@Stoyan-I-A Odd - can you open the FSL tool selector (command: `fsl`)? If so, can you open FSLeyes there? If not, what version of FSL do you have (number at the top of the GUI opened with `fsl`)?

[2019-02-11 18:21] Stoyan-I-A commented on #162
I am able to open the FSL tool selector. The version is 5.0.8. But there is no option to open FSLeyes (I tried every button on the GUI).

I also tried uninstalling and reinstalling FSLeyes with pip uninstall. It didn't solve the problem, but I suspect there are other files related to the software in a directory called /usr/local that aren't modified. However, I don't know how to access this direct

[2019-02-11 19:21] perone commented on #162
I think that the fsleyes installed with `pip` is the Python package itself, have you tried to install with the zip packages provided by their site: https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FSLeyes ?

[2019-02-12 00:03] Stoyan-I-A commented on #162
Good news!
I tried installing FSLeyes with the zip package. It work! I was even able to load the example plugin.
I also managed to find the file that initially caused my problem and deleted it. I can now launch fsleyes through the terminal again.

For future reference, when I first loaded loaded the exemple plugin, I selected the wrong file and it created a file in a hidden directory : "User/(user

[2019-02-13 16:15] Stoyan-I-A opened #163 "Convert PNG images into a format that can be opened in FSLeyes"

[2019-02-13 16:15] jcohenadad commented on #163
Use [nibabel](http://nipy.org/nibabel/) to convert png <--> nifti

[2019-02-17 23:25] Stoyan-I-A commented on #143
I have this issue. I tried to install tensorflow 1.3.0 and 1.9.0 on the machine at Poly and it didn't work. I am using Python 3.6.1. Perhaps I need a slightly newer version of Python.

[2019-02-17 23:32] Stoyan-I-A commented on #162
It seems like FSLeyes allows me to use python packages that I have installed and that are not part of the
original packages that come when installing FSLeyes. This means that I should be able to use the AxonDeepSeg's methods directly from the plugin script.

[2019-02-17 23:56] Stoyan-I-A opened #164 "Accessing Image/Overlay data in FSLeyes from a plugin script"
I am trying to figure out how to access the data from an image loaded in FSLeyes.

I tried to look at how it is done in the [spinalcordtoolbox plugin](https://github.com/neuropoly/spinalcordtoolbox/blob/master/contrib/fsl_integration/sct_plugin.py)
This script used commands such as:
`selected_overlay = displayCtx.getSelectedOverlay()`
and
`overlayList.append(image)`

How is it possible to access t

[2019-02-18 01:35] mathieuboudreau commented on #143
@Stoyan-I-A did you first install miniconda and then create & activate a virtual environment? The doc details those steps: https://axondeepseg.readthedocs.io/en/latest/documentation.html#installation

[2019-02-18 16:24] Stoyan-I-A commented on #143
I just installed miniconda and created a virtual environment of Python 3.6.5 and it's still not working.

[2019-02-18 16:46] mathieuboudreau commented on #143
Did you also do the venv activation step? `conda activate (name of your venv)`? If so, maybe we should schedule a video call so I can see your screen in real-time.

[2019-02-18 16:53] Stoyan-I-A commented on #143
@mathieuboudreau I tried with Stoyan to reproduce the installation steps on the doc, and I confirm that the issue is present. More details:
OSX: 10.10.5
conda 4.5.12
Python 3.6.8 (from: `conda create -n ads_venv python=3.6`)

Maybe this is related to recent updates in miniconda. We should find a solution asap.

[2019-02-18 17:26] mathieuboudreau commented on #143
Could you check the version and location of your pip tool? `pip -V`

Mine is 19.0.1, and is located in a subfolder of my venv folder.

Python 3.6.8 works fine for me, and I am using conda 4.5.11 on Rosenberg.

[2019-02-18 17:28] mathieuboudreau commented on #143
Otherwise, it may be that Stoyans OSX version is too old (see https://www.tensorflow.org/install for compatible OS versions)

[2019-02-18 17:39] jcohenadad commented on #143
Ah! it's likely the problem then ;-)  Good call @mathieuboudreau and @Stoyan-I-A (who suggested that possibility to me).

[2019-02-18 17:39] Stoyan-I-A commented on #143
Update :
I found this thread on stackoverflow
https://stackoverflow.com/questions/38896424/tensorflow-not-found-using-pip?page=1&tab=votes#tab-top
I was able to install any version of tensorflow by changing the number on the command

[2019-02-18 17:41] jcohenadad commented on #143
@Stoyan-I-A are you talking about this command?
[code]

[2019-02-18 17:41] Stoyan-I-A commented on #143
yes

[2019-02-18 17:43] jcohenadad commented on #143
ok. In any case we should probably update the doc to mention about the OS version limitation. @mathieuboudreau @perone should we give the possibility to use older OS version and have a wheel install, or should we just support recent OS versions?

[2019-02-18 17:52] Stoyan-I-A commented on #162
After fixing the tensorflow issue, I was able to run a plugin that imported AxonDeepSeg.

[2019-02-18 17:57] Stoyan-I-A commented on #164
@perone Perhaps you might have an answer to this. If not, it's okay, I'll keep searching.

[2019-02-18 20:12] perone commented on #164
They changed this API so I'm not sure about it, have you tried to look if the `displayCtx` isn't being passed as the parameter on the `*args` or `**kwargs` of your constructors ? That would be a reasonable way to pass these parameters so I guess they might use that. You can also ask that in their mailing list or repository because they probably now that and will be able to answer immediately.

[2019-02-20 11:54] mathieuboudreau commented on #143
So if I understand correctly, @Stoyan-I-A circumvented Tensorflow's OS version check by directly downloading the pip wheel for the specific Tensorflow version he wanted? I don't think we should support that, as there must be a reason why Tensorflow set that OS limit. @perone ?

If we do, then it should be given in a "Warning" box in the doc, and say that we don't know how well this will work and w

[2019-02-20 16:07] jcohenadad commented on #143
As @mathieuboudreau mentioned, I would also lean towards not supporting older OS, simply because we don't have the bandwidth. Also I would be more aggressive than just showing a "warning" (that only 10% people will see, and those who will see it will forget its existence 5min later).

Instead, I would check for the platform during installation, and if it does not fit OS specs, I would exit install

[2019-02-20 16:14] jcohenadad opened #165 "Add OSX install on Travis"
To cover https://github.com/neuropoly/axondeepseg/issues/143

[2019-02-21 18:31] Stoyan-I-A commented on #164
I contacted the FSL developers via their mailing list about this issue. Here's the link to their response :
https://www.jiscmail.ac.uk/cgi-bin/webadmin?A2=ind1902&L=FSL&F=&S=&X=9164C4158CCC55B25D&Y=stoyan.asenov.400%40gmail.com&P=216512

[2019-02-21 18:45] perone commented on #164
Cool ! So they are indeed using the constructor parameters, that's good news.

[2019-02-21 19:07] Stoyan-I-A commented on #164
I figured out how to test the plugins in debug mode. You were right.
The variables can be accessed with `self.overlayList` and `self.displayCtx` even with the ControlPanel class.

[2019-02-21 19:07] #164 closed

[2019-02-22 19:26] mathieuboudreau opened #166 "[Bug] Patches truncated for 16 bit images"
Likely due to this line: https://github.com/neuropoly/axondeepseg/blob/57047da51781c12d06c1b5d59dcb705bf4adc376/AxonDeepSeg/data_management/dataset_building.py#L44

Combining `preserve_range` plus `asint` may be what's truncating the patches (all white).

<img width="1221" alt="capture d ecran 2019-02-22 a 14 17 54" src="https://user-images.githubusercontent.com/1421029/53265949-022f9300-36ba-11e9

[2019-02-22 19:27] mathieuboudreau commented on #166
@perone do you think there would be any issues in Tensorflow with having a mixed dataset (8bit + 16bit) during the training?

[2019-02-22 19:32] maxwab commented on #166
Hi @mathieuboudreau,
At first glance I don't see any problem with removing the `.astype(int)` call.
The most likely reason I added this call at the time was to ensure the type of `img`. As far as I can tell, the reason was not memory usage.

[2019-02-22 19:57] mathieuboudreau commented on #166
Thanks!

Poking around, although I was able to find where the images are converted toint  patches in the dataset building stage, but in the segmentation call the patches are separated by a different function, [`im2patchoverlap`](https://github.com/neuropoly/axondeepseg/blob/432af8265acc02401d8edd1e93e6e45b19471dbe/AxonDeepSeg/patch_management_tools.py#L33-L72), which doesn't appear to have an `int

[2019-02-22 20:07] mathieuboudreau commented on #166
Actually, here are all the calls to `astype()`:

https://github.com/neuropoly/axondeepseg/blob/432af8265acc02401d8edd1e93e6e45b19471dbe/AxonDeepSeg/apply_model.py#L402-L403

https://github.com/neuropoly/axondeepseg/blob/432af8265acc02401d8edd1e93e6e45b19471dbe/AxonDeepSeg/apply_model.py#L402-L403

https://github.com/neuropoly/axondeepseg/blob/1edb7dd5bb3ccc2e1488015a3401b17b9b480cfd/AxonDeepSeg/da

[2019-02-22 20:09] mathieuboudreau commented on #166
And here are the calls to `preserve_range`:

https://github.com/neuropoly/axondeepseg/blob/432af8265acc02401d8edd1e93e6e45b19471dbe/AxonDeepSeg/apply_model.py#L315-L317

https://github.com/neuropoly/axondeepseg/blob/476bb3fcf1a5092514c4c73d124a8e9f46d6015b/AxonDeepSeg/data_management/dataset_building.py#L41-L48

https://github.com/neuropoly/axondeepseg/blob/476bb3fcf1a5092514c4c73d124a8e9f46d6015b

[2019-02-22 20:23] mathieuboudreau commented on #166
It may also be the "L" mode: https://github.com/python-pillow/Pillow/issues/3011

L mode is 8bit pixel (black and white): https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.imread.html

[2019-02-27 20:53] jcohenadad opened #167 "Replace pyplot with OO matplotlib API"
to avoid the following system-dependent issue (commit 57047da51781c12d06c1b5d59dcb705bf4adc376):
[code]

Also see https://github.com/neuropoly/spinalcordtoolbox/issues/2138

[2019-02-28 16:04] #118 closed

[2019-02-28 19:34] mathieuboudreau opened #169 "Refactor handling of saved models"
Refactor the handling of the saved models (e.g. SEM, TEM) for post-training segmentation into a single location/file to make it easier to add new models, and document how to do so.

**Things that may need to be done:**
  * [ ] Identify every location where SEM and TEM are hardcoded in the code (i.e. their default pixel size, their names)
  * [ ] Group these values/definitions in a single file/func

[2019-02-28 19:38] mathieuboudreau opened #170 "Extend functionality to handle images with any bit depth"
Extend functionality of AxonDeepSeg to handle images with any bit depth (would resolve #166), currently can only handle 8 bit.

**Things that may need to be done:**
  * [ ] Identify what combination of `.astype(int)`, ` preserve_range=True`, and `“L” mode` are causing the truncation for 16 bit.
  * [ ] Once identified, fix it in a way that retains the current functionality (i.e. either do better c

[2019-03-01 00:54] jcohenadad opened #171 "Make nice logo and add to readthedocs"
Title is pretty self-explanatory

[2019-03-01 20:23] jcohenadad commented on #154
Use module `pathlib`

[2019-03-01 20:25] jcohenadad opened #172 "Add CONTRIBUTIONS file"
title is self-explanatory

inspiration here: https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst

[2019-03-01 20:28] jcohenadad commented on #170
Database for testing: https://osf.io/yp4qg/

[2019-03-01 20:50] Stoyan-I-A commented on #163
Currently, the plugin allows the user to select a file PNG file and convert it to NIfTI. But the user has to manually load the NIfTI image into FSLeyes. As Julien said, it would be better if the image is automatically loaded into FSLeyes after the conversion.

Perhaps I should also add a button to export the segmentation masks into a PNG file afterwards.

[2019-03-01 20:52] jcohenadad commented on #163
@Stoyan-I-A i suggest you create a "dummy" GUI with e.g. google sheet (e.g. take the current FSLeyes GUI and draw buttons), then add the link of this dummy GUI in this thread, then we can constructively make comments/suggestions

[2019-03-01 21:05] Stoyan-I-A opened #173 "Applying a model in FSLeyes"
TODO : Add a button on the plugin's GUI that the user would press to apply a trained model on the currently loaded image.
TODO: Add checkboxes so that the user can specify which modality was used to produce the image (TEM or SEM). Perhaps instead of using checkboxes, I could add a combobox, this would make it easier to add another modality in the future without having to mess too much with the GUI

[2019-03-01 21:16] Stoyan-I-A commented on #163
@jcohenadad Shouldn't I create a separate issue for the GUI design?

[2019-03-01 21:23] jcohenadad commented on #163
you can do the prototype design in https://github.com/neuropoly/axondeepseg/issues/162

[2019-03-04 23:08] Stoyan-I-A opened #174 "FSLeyes and AxonDeepSeg have incompatible numpy versions"
FSLeyes requires numpy 1.16.2 while AxonDeepSeg requires numpy 1.14.5

If I try to use the line `from AxonDeepSeg.apply_model import axon_segmentation`
on a python console with numpy 1.16.2 installed, I get the following error:

[code]

On the other hand, if I try to open FSLeyes with numpy 1.14.5, I get the following message and FSLeyes doesn't launch

[code]
I tried with numpy 1.15 and it doesn'

[2019-03-04 23:58] Stoyan-I-A commented on #163
I changed the button label to "Load PNG file" and made it so that the converted image is automatically loaded into FSLeyes

[2019-03-05 00:14] Stoyan-I-A commented on #174
What I need is to run a prediction model on an existing PNG image. Is there a way to write a method that would execute a script in another python environment?

[2019-03-05 03:16] jcohenadad commented on #174
@Stoyan-I-A looks like your import error with numpy 1.16.2 is caused by skimage-- have you tried to satisfy numpy's dependencies by upgrading other module (skimage, etc.)?

[2019-03-05 14:42] mathieuboudreau opened #175 "Resolve warning during segmentation about lossy conversion (int64 to uint8)"
This message (I believe) appears during any segmentation attempt (i.e. Jupyter Notebooks/Python env/command line). The images segment fine, so to resolve this warning message it's just a matter of doing that conversion ourselves instead of letting one of the tools do so implicitly (not sure which one, whichever one throws the warning) .

<img width="812" alt="capture d ecran 2019-03-05 a 11 07 35"

[2019-03-05 20:47] Stoyan-I-A commented on #174
@jcohenadad I upgraded scikit-image to version 0.14.2 and it doesn't show the error anymore.
Thank you.

[2019-03-05 20:47] #174 closed

[2019-03-05 20:52] jcohenadad commented on #174
great, make sure to update the requirements.txt file in your branch otherwise this issue will appear again in production mode

[2019-03-05 20:52] Stoyan-I-A commented on #173
I added the button to apply a model, and it seems to be working. I made it so the segmentation results are automatically loaded into FSLeyes. Here's what the results look like:

![screen shot 2019-03-05 at 3 44 30 pm](https://user-images.githubusercontent.com/43790661/53836493-2151de80-3f5e-11e9-8c5a-5007235f5562.png)

There are still things to arrange. For instance, I am currently asking the user

[2019-03-06 18:52] jcohenadad commented on #12
One possible approach for addressing this issue, would be to:
- from the axon+myelin mask, apply [watershed segmentation](http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_watershed.html)
- loop across objects. Multiply object *i* by ADS' output axon map to retrieve the axon segmentation of object *i*. Then, compute the equivalent diameter of the axon+myelin and axon to retrieve the

[2019-03-07 01:00] Stoyan-I-A commented on #162
Here's my idea for the GUI design :
![image](https://user-images.githubusercontent.com/43790661/53924389-eaf18d80-4049-11e9-8c27-40465e6172ae.png)
This GUI will be attached to the FSLeyes window, under the image display.

The document containing this GUI design can be found in the google drive under /reports/20190306_FSLeyes_plugin_controls_GUI

Or simply by clicking this link: https://docs.google

[2019-03-07 01:56] jcohenadad commented on #162
Nice start @Stoyan-I-A! Below is my suggestion (under sheet "Julien"):
<img width="876" alt="screen shot 2019-03-06 at 20 54 24" src="https://user-images.githubusercontent.com/2482071/53926598-14aeb280-4052-11e9-99af-3026eac6c48f.png">

The button `Apply myelin mask correction` would take a corrected myelin mask, and do the filling automatically to generate an updated axon mask.

[2019-03-07 04:13] perone commented on #162
The layout is similar to the one we made for `sct_deepseg_gm` and `sct_deepseg_sc`, so you can base the code on the [code of the SCT plugin](https://github.com/neuropoly/spinalcordtoolbox/blob/master/contrib/fsl_integration/sct_plugin.py). There is code to add an image, to add a formatted citation and radio boxes as well.

[2019-03-07 23:46] mathieuboudreau commented on #170
`imageio.core.image_as_uint` might be a good converter for this task.

<img width="1106" alt="capture d ecran 2019-03-07 a 20 15 54" src="https://user-images.githubusercontent.com/1421029/53997222-e72b3d00-4115-11e9-9f68-48f1b3ef968f.png">

https://media.readthedocs.org/pdf/imageio/stable/imageio.pdf

[2019-03-08 00:40] mathieuboudreau opened #178 "[NEW] Axon mask simulator"
**Describe the solution you'd like**
Class that generates masks (8-bit png images) of simulated axons. Paramters that should be controllable: location of axons, width of axons, g-ratio (controls myelin thickness). Would be useful for tests & morphometrics feature developments.

branch: [simaxon](https://github.com/neuropoly/axondeepseg/tree/simaxon)

[2019-03-09 19:41] #172 closed

[2019-03-09 23:30] maf88 commented on #148
Although I love Jupyter notebooks, I'll keep only one for showing off/education purposes. More notebooks means more maintenance and dependences over other packages.

[2019-03-10 21:49] Stoyan-I-A commented on #162
Here's how the GUI looks now
![Screen Shot 2019-03-10 at 5 04 29 PM](https://user-images.githubusercontent.com/43790661/54091933-82155880-435c-11e9-91a8-dca1bbe8ca53.png)

The borders of the ComboBox are a bit weird. I get the following warning when I load the plugin :

`2019-03-10 17:03:56.369 Python[32091:6624447] This application is trying to draw a very large combo box, 34 points tall.  Vertic

[2019-03-12 15:37] maf88 opened #183 "`ads_utils.py:download_data`: Refactor to make proper use of exception and error handling"
Currently `download_data` is not returning an error if `Content-Disposition` is not the response header (`ads_utils.py:L189`). This should be in a try/except block.
Also it would be nice to ask whether we should `return 1` or re-raise the error for this function. Then refactor as necessary.

[2019-03-12 15:39] antmoev opened #184 "ads_utils.py:download_data: Refactor to make proper use of exception and error handling"
Currently download_data is not returning an error if Content-Disposition is not the response header (ads_utils.py:L189). This should be in a try/except block.
Also it would be nice to ask whether we should return 1 or re-raise the error for this function. Then refactor as necessary.

[2019-03-12 15:40] maf88 commented on #183
wrong labels were applied and I wasn't able to change them. I closed and re-open it. See #184.

[2019-03-12 15:40] #183 closed

[2019-03-12 15:53] mathieuboudreau commented on #183
Ok no worries. Next time however just ask for the label to be changed, since I apparently have access to do so (might be an admin feature).

[2019-03-12 16:32] jcohenadad commented on #171
This was the logo poll: https://goo.gl/forms/aVMJdU2pnmkTEN5w1
And below are the results of the poll (sent to a wide audience):
![Screen Shot 2019-03-12 at 12 31 35](https://user-images.githubusercontent.com/2482071/54217871-cf133f00-44c2-11e9-907e-c4de400ee8dc.png)

[2019-03-13 00:02] #171 closed

[2019-03-13 00:36] maf88 opened #188 "Separate evaluation of metrics from visualization for `score_analysis`"
[`score_analysis`](https://github.com/neuropoly/axondeepseg/blob/560efa06d8fdaa92537627a2e1d0552516f2f706/AxonDeepSeg/testing/segmentation_scoring.py#L18) is doing too many things at the same time and we are forced to save images rather than having the choice to display them or save them. Therefore we should refactor so plotting is a different function. We might for instance create a class that st

[2019-03-13 02:42] #12 closed

[2019-03-13 19:02] #167 closed

[2019-03-15 18:22] jcohenadad opened #190 "Rename myelin output metrics"
Currently, for `get_axon_morphometrics` there are:
- myelin_diam --> outer diameter of  myelinated axon (axon + myelin)
- myelin_area --> surface of axon + myelin
See [lines](https://github.com/neuropoly/axondeepseg/blob/05cb434667350c84a4f0a5319d002fa6f5fb881b/AxonDeepSeg/morphometrics/compute_morphometrics.py#L125) in code.

this is not intuitive. The suggestion is to replace with:
- myelin_thic

[2019-03-17 21:18] Stoyan-I-A opened #191 "Save the segmentations done in FSLeyes"
TODO : save the myelin and axon segmentation masks as three (3) separate PNG files :
- One will contain the Myelin mask
- One will contain the Axon mask
- One will contain both masks with different intensities

[2019-03-17 21:21] Stoyan-I-A opened #192 "make the FSLeyes plugin code easier to understand"
TODO:
- Remove unnecessary blank lines
- Add docString at the start of functions/methods
- Comment parts of the code to explain what is being done

[2019-03-17 21:54] mathieuboudreau commented on #191
Once you have the mask with Axon+Myelin, you can generate the other two separate images using this function:

https://github.com/neuropoly/axondeepseg/blob/b3d9574d06739c7e52d2ce832b5efa90031a5f69/AxonDeepSeg/visualization/get_masks.py#L10

[2019-03-17 22:50] Stoyan-I-A opened #193 "Implement an axon filling tool in the FSLeyes plugin"
This procedure would be followed :
https://docs.google.com/presentation/d/1xBAZjBAM5Un5EjqpMATXwoxd7u9saYprew3lLFckjXw/edit#slide=id.g522581c85f_1_0

[2019-03-18 00:27] Stoyan-I-A commented on #191
I didn't use this function but I probably should. I'll have to change this eventually.

[2019-03-18 19:11] Stoyan-I-A commented on #163
I send a message to the FSL mailing list to ask the developers if there's a way to directly load PNG images as an overlay.
The answer is no, but it's on their TODO list.
https://www.jiscmail.ac.uk/cgi-bin/webadmin?A2=ind1903&L=FSL&F=&S=&P=251142

[2019-03-21 18:22] Stoyan-I-A commented on #163
TODO : the NIfTI files should be saved in a temporary folder

[2019-03-21 18:25] Stoyan-I-A commented on #162
TODO: add a description that would appear when the cursor is on the buttons

[2019-03-21 18:30] Stoyan-I-A commented on #173
TODO: automatically change the colour of the masks when they are loaded. (currently they are loaded in greyscale by default)

[2019-03-24 14:47] maf88 opened #194 "Refactor `data_management/dataset_bulding.py` for cleaner code"
[`dataset_bulding.py`](https://github.com/neuropoly/axondeepseg/blob/master/AxonDeepSeg/data_management/dataset_building.py) has a lot of code that is similar through the different function. It woud be nice to see if some refactoring and OO programming can be done. I'm thinking about making a class/interface and then different instantiations depending on the usage we want.

[2019-03-25 12:45] antmoev opened #195 "[Good Habit]: make a docstring for each modules"
At the beginning of the file, a module should have a meaningful documentation to present the intent of the module, even if it's small.
Have a look on how powerful docstring can be:
- https://stackoverflow.com/a/2557196/1076483
PEP-257 on docstrings convention:
- https://www.python.org/dev/peps/pep-0257/

[2019-03-27 23:47] maf88 commented on #190
@jcohenadad  if we substract the axon area to the myelinated axon area, then the g-ratio can be higher than one, if we keep this formula: https://github.com/neuropoly/axondeepseg/blob/master/AxonDeepSeg/morphometrics/compute_morphometrics.py#L129

Therefore I think that the g-ratio should be:

    gratio = SQRT( axon_area / axonmyelin_area )

What do you think?

[2019-03-28 00:32] jcohenadad commented on #190
Sure, that’s how it has always been

[2019-03-28 00:36] jcohenadad commented on #190
Read the introduction of this issue, maybe that’s how you got confused (ie; redefining myelin area)

[2019-03-28 02:05] maf88 commented on #190
In the actual code there is an ambiguity:

    myelin_area = axonmyelin_objects[ind_axonmyelin].area * (pixelsize ** 2)
    stats['myelin_diam'] = myelin_diam
    stats['myelin_area'] = myelin_area
    stats['gratio'] = np.sqrt(axon_area / myelin_area)

([source](https://github.com/neuropoly/axondeepseg/blob/master/AxonDeepSeg/morphometrics/compute_morphometrics.py#L129))

Was the g-ratio divided

[2019-03-28 02:11] jcohenadad commented on #190
@maf88 originally, myelin_area (the variable and the stats output) was axon+myelin (as you probably figured out from the code). Hence, the gratio was correctly defined.

i agree this is confusing: this is precisely the purpose of this issue ;-)

[2019-03-30 00:09] antmoev opened #197 "Use Logging Module For Printing Info And Warnings"
The excellent module `logging` should be used instead of printing our messages! Get an idea by reading the doc: https://docs.python.org/3/howto/logging.html

[2019-03-30 00:11] antmoev opened #198 "Refactor `compute_morphometrics`"
Some code is legacy, some comments are outdated, some code can be concatenated. This is one of the module that we use the most. Therefore it can be a good idea to refactor it! Some UT might need to be updated or even added!

[2019-03-30 00:12] maf88 commented on #198
Make sure we use `pathlib`and `logging` ;-)

[2019-03-30 00:16] antmoev opened #199 "Return one warning per image in `get_axon_morphometrics`"
instead of one warning per axon for every images as mentioned in this [comment](https://github.com/neuropoly/axondeepseg/pull/196#pullrequestreview-220670128)

[2019-03-30 10:00] mathieuboudreau commented on #198
I'm not sure if this type of refactoring (i.e. refafactoring for the sake of refactoring) is a big priority at the moment (besides maybe adding logging). @jcohenadad thoughts?

[2019-03-30 11:34] #190 closed

[2019-03-30 13:52] jcohenadad commented on #198
Agreed. Not a priority. Besides, logger should be deployed everywhere (not only in compute-morphonetrics)

[2019-04-01 16:04] Stoyan-I-A commented on #173
I asked the FSLeyes developpers how to change the colour mapping of an overlay. Here's the response:
https://github.com/pauldmccarthy/fsleyes/issues/17

[2019-04-02 19:04] maf88 opened #200 "Fix Lack Of Consistency In The Code Style"
Over the years, many files with different style were accumulated in the repo. Now, we face sometimes unexpected issue when dealing with large code refactoring. Therefore, we propose to use Black, the uncompromising code formatter, on all the `.py` files and start from there.  Here's some article to see why Black is a good choice :
+ https://www.mattlayman.com/blog/2018/python-code-black/
+ https:/

[2019-04-02 19:13] mathieuboudreau commented on #200
If we want a PEP8 checker too, there is one: https://github.com/OrkoHunter/pep8speaks

However, it can be tough to adhere to it all the time (particularly long lines, some lines I've found to be very difficult to make shorter because of how many indentations deep we are at)

[2019-04-02 19:37] maf88 commented on #200
Why we care about consistent formatting?

This is why Black is great. Code looks similar from project to project.

[2019-04-02 20:14] jcohenadad commented on #200
currently the code is far from being consistent, we want to avoid having Travis failing for the next 5 years until we completely clean the code ;-)

[2019-04-03 12:03] Evans-Okerosi commented on #143
I encountered the same issue while using anaconda with python 3.7.1. I was able to resolve it by creating a new conda virtual env with python 3.6

[2019-04-03 12:21] mathieuboudreau commented on #143
Thanks for the note @Evans-Okerosi ! We do in fact specify in the documentation ([here](https://axondeepseg.readthedocs.io/en/latest/documentation.html#virtual-environment)) to use a virtual environment with Python 3.6. Did you install using `pip`? That's always been a worry of mine; users installing using that command are likely to miss the documentation that we post on GitHub.

[2019-04-05 00:18] Stoyan-I-A opened #201 "Find a way to consistently find the ADS_logo via the FSLeyes plugin"
I managed to install FSLeyes and my AxonDeepSeg branch.
Here are the main steps I used  (on MacOSX) :
- I followed the ADS documentation to install ADS (Used miniconda, created a venv). The only difference is that I cloned my branch instead of the master, and my venv is called `integTest1`
- I used `conda install -c conda-forge fsleyes` to install fsleyes
- I launched FSLeyes with the command `fsl

[2019-04-05 00:25] mathieuboudreau commented on #201
I think the issue is the `parents[1]`. It should be `parents[0]` for you case, I'm guessing.

How did you install AxonDeepSeg? For me, it would only work for `parents[1]` if I recall. I would clone AxonDeepSeg, install it with `pip install -e .`, and so I think `AxonDeepSeg.__file__` wasn't in my venv folder, but the folder that I cloned it. But that may be because I would usually open FSL from th

[2019-04-05 00:28] Stoyan-I-A commented on #201
I installed ADS using these commands :
[code]

[2019-04-05 00:32] mathieuboudreau commented on #201
Hmm, interesting, that's how I do it too.

I think the main problem is that the image isn't within the module folder; it's outside of it. (i.e. `docs/`, which is where the image is, is outside the `AxonDeepSeg/` folder), so that because when you `import AxonDeepSeg` it's seeing the `AxonDeepSeg/` folder in your conda environment folder (which doesn't have the `docs/` one level above it) instead of

[2019-04-05 00:35] Stoyan-I-A commented on #201
After changing to `parents[0]`, I get this error now :
![Screen Shot 2019-04-04 at 8 30 30 PM](https://user-images.githubusercontent.com/43790661/55596931-38305000-5719-11e9-9e80-1ad92c6025ef.png)

[2019-04-05 00:39] jcohenadad commented on #201
Agreed

[2019-04-05 00:39] mathieuboudreau commented on #201
That was just a guess. As I said, your module doesn't contain the image. A solution could be to move the image into the `AxonDeepSeg/` folder, then using `parents[0]` should work for both you and me.

[2019-04-05 00:40] mathieuboudreau commented on #201
** and changing `logoFile = ads_path / 'docs' / 'source' / '_static' / 'logo_ads-alpha.png'` to `logoFile = ads_path / 'logo_ads-alpha.png'`

[2019-04-05 01:22] mathieuboudreau commented on #201
@Stoyan-I-A I just pushed the changes I recommended to your branch/PR (commit caf663cbd0884d). Uninstall your AxonDeepSeg installation , re-install it, then reload your plugin, and see if it works.

Check to be sure you didn't accidentally use `pip install axondeepseg`, because that's the only reason why I could see it in your `site-packages` of your env; for me, there is no AxonDeepSeg/ folder th

[2019-04-05 02:24] Stoyan-I-A commented on #201
Thank you @mathieuboudreau
I will try it either tomorrow or on Saturday.

[2019-04-05 13:47] Stoyan-I-A opened #202 "The docking of the FSLeyes plugin can't be automatically changed for now"
As said in https://github.com/pauldmccarthy/fsleyes/issues/19 , the way the plugin is docked when initialized can't be changed for now. We have two options for the moment:
 1- Use an horizontal layout
 2- Ask the user to manually change the docking

Which one is preferred?

[2019-04-05 13:56] Stoyan-I-A commented on #162
How to hide the X and Y canvas:
https://github.com/pauldmccarthy/fsleyes/issues/20

[2019-04-05 14:12] jcohenadad commented on #202
definitely option 1

[2019-04-06 18:18] Stoyan-I-A commented on #201
It seems to work on Mac 👍 . I'll have to try it on Linux.

[2019-04-06 20:56] Stoyan-I-A commented on #201
On Linux, there is a bug with wxPython where it can't properly resize images (instead of resizing the logo to 7% of its size, it will take the top-right corner of the logo that has the desired dimensions and display it).
This makes the ADS logo invisible but the plugin still functions correctly.

A workaround is to resize the logo file manually and display the full-resolution-manually-resized logo

[2019-04-07 13:26] mathieuboudreau commented on #201
Do you mean storing a copy of the logo with the correct size in the repository for the GUI, so you can avoid resizing it with wxPython? If so, then I agree, this seems like the best solution for cross-platform compatibility.

[2019-04-07 14:13] jcohenadad opened #203 "FSLeyes plugin: Display description when moving cursor above button"
The description listed under section "Tools description" here: https://github.com/neuropoly/axondeepseg/pull/182#issue-259792012 should ideally appear when user moves cursor above button

[2019-04-07 14:15] jcohenadad opened #204 "FSLeyes plugin: Remove green cross once plugin has been loaded"
The green cross below is not relevant (only 2d view) and should be removed:
![image](https://user-images.githubusercontent.com/2482071/55684844-03411a80-591e-11e9-891b-f31380dfed86.png)

[2019-04-08 01:51] Stoyan-I-A commented on #204
I'll take a look at this when possible. FSLeyes just made a new release and the developer documentation is currently blank.

[2019-04-08 16:40] Stoyan-I-A commented on #203
I'll try to get this done today

[2019-04-08 22:47] Stoyan-I-A commented on #204
Changes made with commit 7b6c4df

[2019-04-08 22:47] #204 closed

[2019-04-08 22:47] Stoyan-I-A commented on #203
Changes made with commit 7b6c4df

[2019-04-08 22:47] #203 closed

[2019-04-09 22:35] Stoyan-I-A commented on #202
With the newest version of FSLeyes (which came out this week) this issue is now fixed.

[2019-04-09 22:35] #202 closed

[2019-04-10 15:11] jcohenadad opened #205 "FSLeyes: integrate (?) into native ADS installation"
As of https://github.com/neuropoly/axondeepseg/pull/182, fsleyes can be installed manually. It would be nice to have it installed during ADS installation.

TODO:
- Add fsleyes in `requirements.txt`
  - Test if ADS install works + usage in Windows, OSX and Linux

[2019-04-10 15:19] jcohenadad commented on #202
fixed in https://github.com/neuropoly/axondeepseg/commit/604f51374c3e0b32060aceb8199829169ef54813

[2019-04-10 15:50] jcohenadad commented on #15
Closing because we decided to go with PyTorch. Also see: https://github.com/neuropoly/axondeepseg/issues/141

[2019-04-10 15:50] #15 closed

[2019-04-10 15:52] jcohenadad opened #206 "Roadmap for converting to PyTorch"
This issue is mostly asking for a comprehensive roadmap for ensuring proper conversion of ADS to PyTorch. Things to consider:
- Testing
- Creating/Loading models (link with API)
- Notebooks
- Data augmentation (replace with existing modules, etc.)
- Possibility for weight transfer from existing models (e.g. ImageNet)
- Use of [MONAI](https://github.com/Project-MONAI/MONAI)

[2019-04-16 18:18] #154 closed

[2019-04-24 16:34] Stoyan-I-A opened #208 "FSLeyes integration - Change the way active overlays are determined"
TODO : Check which overlays are "Displayed" (with the eye icon). Those will be the active images/masks.

[2019-04-24 16:37] Stoyan-I-A opened #209 "FSLeyes integration - investigate the bug with large images that are not properly displayed"

[2019-04-24 16:41] jcohenadad opened #210 "FSLeyes integration - Fetch models based on physical presence in folder /models"
Instead of hard-coding the names in the code. It will be more flexible

[2019-04-24 16:53] jcohenadad opened #211 "Implement new method to separate myelins"
Instead of the watershed which is fairly unstable and inaccurate, we could think of other (or complimentary) ways to separate myelin sheaths that touch. Similarly to what has been implemented in [AxonSeg](https://github.com/neuropoly/axonseg), we could take the center of mass of each axon, reconstruct the profile along the radial line, and spot the distance of the interface between the background

[2019-04-30 00:16] jcohenadad opened #212 "[Active learning] Look at Class-agnostic counting method"
more info: https://arxiv.org/abs/1811.00472
Repo to look at: https://github.com/erikalu/class-agnostic-counting

[2019-05-01 18:48] Stoyan-I-A commented on #209
Update :
I tried to load screenshots of different sizes into FSLeyes. The screenshots were taken using the same method (cmd+shift+4 on a mac). I used screenshots because they are easy to take.

I was able to load a screenshot with a size of 1927 x 1273 pixels. No problem here.

Then, I tried loading a screenshot with a size of 2560 x 1440 pixels. The image wasn't displayed. The overlay was loaded

[2019-05-01 19:58] Stoyan-I-A commented on #209
I wrote an issue on the FSLeyes GitHub page :
https://github.com/pauldmccarthy/fsleyes/issues/23

[2019-05-02 16:41] Stoyan-I-A commented on #209
The developer responded. I suggest you to read his answer : https://github.com/pauldmccarthy/fsleyes/issues/23 , but the conclusion is that we will have to work around it. This might require a discussion in a future meeting.

[2019-05-02 18:44] mathieuboudreau commented on #209
That's disappointing; I don't think we want to downsample the images, as we want to use the visualised image to draw masks, which needs pixel-precision.

[2019-05-02 19:11] jcohenadad commented on #209
hum... i don't have any satisfactory workaround on top of my head :-(

[2019-05-05 23:26] Stoyan-I-A commented on #208
With commit e3ae8dd9d82000b7ed6c3ef59d92e097c6b0065c , there is now an option to load existing segmentation masks. (I didn't reference the issue correctly in the commit message).

The active masks are those that are "Displayed" (eye icon). If a mask has "axon" in its name, the script recognizes it as an axon mask. If a mask has "myelin" or "Myelin" in its name, the script recognizes it as a myelin

[2019-05-05 23:39] Stoyan-I-A commented on #192
In my latest commits ( 4af6072 and e3ae8dd9d82000b7ed6c3ef59d92e097c6b0065c ), I added comments and descriptions for each function. If anyone has someone spare time, I would like to know if the plugin script is more clear. (?)

Also, I followed the [camelCase](https://en.wikipedia.org/wiki/Camel_case) convention for most of the variable names in the script, but it is not the convention used in the

[2019-05-06 00:06] mathieuboudreau commented on #192
See the PEP8 documentation for the standard Python naming conventions: https://www.python.org/dev/peps/pep-0008/#naming-conventions

[2019-05-12 22:21] Stoyan-I-A commented on #208
With commit 87f72ee , the active microscopy image is also determined by visibility status.
Note that the microscopy image must NOT have the following keywords in its name:
`axon   myelin   Myelin   watershed   Watershed`. Otherwise, it will be considered as a mask.

[2019-05-12 22:21] #208 closed

[2019-05-12 22:26] Stoyan-I-A commented on #173
This issue should've been closed a while ago. Another issue has been opened to address the way the models are fetched.
https://github.com/neuropoly/axondeepseg/issues/210

[2019-05-12 22:26] #173 closed

[2019-05-12 22:38] Stoyan-I-A commented on #163
With commit 87f72ee , the NIfTI files are saved in a temporary folder. The automatic display was fixed a while ago.

[2019-05-12 22:38] #163 closed

[2019-05-21 21:13] jcohenadad opened #214 "ImageJ as an alternative to FSLeyes for ADS plugin"
ImageJ is a well-maintained ecosystem, is dedicated to microscopy 2D data and accepts [plugins](https://imagej.net/index.php?title=Category:Plugins&pagefrom=SNT#mw-pages). So that could be a viable alternative to FSLeyes.

[2019-05-21 21:14] jcohenadad commented on #214
also see: https://imagej.net/Trainable_Weka_Segmentation

[2019-05-21 21:30] jcohenadad commented on #214
and this: https://deeplearning.cms.waikato.ac.nz/

[2019-06-04 16:32] vs74 opened #217 "Learning Rate (Adaptive Learning rate vs Learning Rate scheduler) in Keras framework"
Learning rate implemented in tensorflow framework in AxonDeepSeg depending on the config file can be either one of the following:-
1. Polynomial learning rate decay(by default)
2. Exponential learning  rate decay
3. Constant learning rate

Since Keras is abstract level framework it does not provide with the option of training with polynomial, exponential decay. However, it provides with 2 options:

[2019-06-04 16:42] jcohenadad commented on #217
@perone can you please advise? Thanks!

[2019-06-04 16:48] mathieuboudreau commented on #217
@vs74 if you're at the point that you can train some data with your Keras network, a good step would be to try both options and give us some details on how they differ in performance, accuracy, etc.

[2019-06-04 18:04] vs74 commented on #217
I was also thinking of comparing the results after implementing tensorboard for visualization of performance metrics. But one problem that Learning Rate Scheduler is that it's having own set of parameters which is different from the config file parameters for learning rate decay(tensorflow framework). How will I know the optimal value of parameters in Learning  Rate Scheduler to compare against Ad

[2019-06-04 18:07] mathieuboudreau commented on #217
Not sure about optimal values, but any values that allow for a comparison is a good first step (and better than no comparison at all). Maybe that's a point that @perone could chime in, but I know that he's more familiar with PyTorch than he is with Keras

[2019-06-04 18:09] mathieuboudreau commented on #217
Have you checked how/ifThibault implemented this learning rate in his Keras implementation of AxonDeepSeg? https://github.com/thibaulttabarin/UnAxSeg/

[2019-06-04 18:10] mathieuboudreau commented on #217
Have you checked how/if @thibaulttabarin implemented the learning rate in his Keras implementation of AxonDeepSeg? https://github.com/thibaulttabarin/UnAxSeg

[2019-06-04 20:41] perone commented on #217
Hi @vs74, the learning rate schedule isn't that important. However, if you want to use the polynomial decay, I've implemented it for Keras:

[code]

For 800 epochs it looks like that:
![image](https://user-images.githubusercontent.com/412328/58912141-4f87bb80-8711-11e9-9951-ec8c1dafdd47.png)

You just need to adjust the `num_epochs` variable to your number of total epochs, the `initial_lrate` to t

[2019-06-04 21:11] vs74 commented on #217
@mathieuboudreau, I have already looked into repo of @thibaulttabarin.  The repo contained the pre-trained model hence information regarding learning rate methods was hidden. Moreover, I didn't find any file for training the model so I couldn't figure out the implementation used for the learning rate.

[2019-06-04 21:27] vs74 commented on #217
@perone, Thanks for your reply. AxonDeepSeg is using polynomial decay and exponential decay for training the model. I was trying to replicate the learning rate decay methods in Keras framework. So I think we should use it. However the Keras framework uses an argument like `factor`  as you mentioned unlike the tensorflow( such as `global_step`, `decay period` and  decay rate`). So should we drop th

[2019-06-05 08:00] thibaulttabarin commented on #217
Hi,
that's right on my repo there is only the part to apply the model (user
version). I am currently finishing the training notebook. I should push it
by the end of the week.
Regarding the polydecay I found it wasn't necessary if you are using ADAM
optimizer... to my understanding the ADAM optimizer use an adaptative
learning rate which is what I have used.

cheers
T

On Tue, Jun 4, 2019 at 11:11

[2019-06-05 13:23] vasudev-sharma opened #218 "Better Image Stitching Algorithm to reduce/handle error in patch overlap"
**Problem.**
Image Stitching used in AxonDeepSeg commonly encounters with distorted/occluded image at the boundary of overlapping patches. Neighboring blocks constrained by overlap used in AxonDeepSeg is outdated and results in poor stitching of patches. A lot of new stitching algorithms in the literature aims at reducing/minimizing the error due to stitching.

**Proposed Solution**
1. One way to

[2019-06-05 13:34] mathieuboudreau opened #219 "Implement AxonDeepSeg using Keras framework"
Branch: [axondeepsegkeras](https://github.com/neuropoly/axondeepseg/tree/axondeepsegkeras)
Contributor: @vs74

Other Issues: #217
PRs: #216

[2019-06-05 14:30] mathieuboudreau commented on #219
@vs74 could you add the new requirements & version to the [requirements.txt](https://github.com/neuropoly/axondeepseg/blob/axondeepsegkeras/requirements.txt) file in your branch, so that they are installed automatically? I think at least the cv2 and keras packages are missing

[2019-06-05 15:15] jcohenadad commented on #218
Related to https://github.com/neuropoly/axondeepseg/issues/74

[2019-06-12 14:58] vs74 commented on #219
The codebase written in  TensorFlow  framework  is too complex to comprehend as it involves a lot of intricate details. Moreover it becomes difficult to exchange code of other architecture for experimentations, improvements or perform optimisations to existing model due to its verbosity. This issue aims at achieving the following things
: -
1. Replicate the ADS in TF framework to Keras framework.

[2019-06-12 15:00] mathieuboudreau commented on #219
I thought the reason we were doing Keras over Pytorch was because we could reuse the framework code? If we need to rewrite the framework, shouldn't we go the PyTorch route instead?

[2019-06-12 15:19] jcohenadad opened #220 "Add video tutorial"
Should include:
- Installation
- CLI mode
- GUI mode

[2019-06-12 15:24] jcohenadad commented on #105
Suggestion: modify this version: https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst
Remove the duplication on the wiki

[2019-06-12 17:21] vs74 commented on #219
Yes, the reason for the conversion to Keras over Pytorch  to TF is that is allows to use some TF code. Like for example ` apply_model.py ` needs less refactoring and it can be merged into Keras model by using Keras.backend as TF backend. On the contrary  some of the files needs to rewritten to Keras such as `network_construction.py`, `train_network.py` and `train_network_tools.py`. But I still thi

[2019-06-12 18:20] mathieuboudreau commented on #219
Thanks for clarifying!

[2019-06-18 19:57] #122 closed

[2019-06-18 21:10] vs74 opened #223 "Key error when data augmentation parameter : noise addition = True"
**Bug description**
While training network with data augmentation when noise addition is set to True, it produces the following  key error.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `AxonDeepSeg/test/test_train_network.py`
2. Set `"da-5-noise_addition-activate": True` in `self.config`
3. Run script `test_train_network.py`

[2019-06-20 22:24] Stoyan-I-A opened #224 "Write tests for the FSLeyes plugin"
Write tests to see if
- Installation procedure is working;
- Tools are working.

[2019-06-27 11:46] mathieuboudreau opened #225 "Upgrade Tensorflow for CUDA 10 compatibility"

[2019-06-27 12:16] mathieuboudreau commented on #225
I just quickly tried running the unit tests on rosenberg using tensorflow-gpu==1.14.0, and all the tests passed, so this might be an easier upgrade than anticipated.

[2019-06-27 18:17] vs74 commented on #225
Should I resolve this issue in  PR #221 or post it?

[2019-06-27 18:21] mathieuboudreau commented on #225
Merge #221 first since I already thoroughly tested it on the older tensorflow version, then do this one in a separate branch.

[2019-06-28 04:43] #219 closed

[2019-06-28 18:33] vs74 commented on #223
I tried to resolve the issue actually there is no function named `noise_addition` in `data_augmentation.py`.  The function named is `Gaussian_blur` instead of `noise_addition`. So a fix to this issue might be replacing key value `noise_addition` by correct key name  that is `Gaussian_blur`. @mathieuboudreau  / @jcohenadad   what do you think about it ? Should I fix this by replacing the key name e

[2019-06-28 18:36] jcohenadad commented on #223
`Gaussian_blur` (i.e. smoothing 2D Gaussian kernel) sounds different than `noise_addition` (Gaussian noise added on a pixel-wise basis). So I would advise against making that replacement

[2019-06-28 18:48] vs74 commented on #223
I agree with you but there is no function defined in `data_augmentation.py` related to `noise_addition` instead there is a function named `Gaussian_blur`. Moreover in `input_data.py` the data augmentation dictionary has no parameter named `noise_addition `instead its having parameter named `Gaussian_blur`. So why are we using `noise_addtion` parameter when there is no functionality of it defined i

[2019-06-28 18:55] jcohenadad commented on #223
@alzaia can you help us here?

[2019-06-28 19:11] vs74 commented on #223
Yes I tried it was adding a gaussian filter to the image as what you said. Below is the  `mask 57` of `SEM_3c_dataset`
![Screen Shot 2019-06-28 at 3 03 39 PM](https://user-images.githubusercontent.com/31419210/60365310-5aeba100-99b6-11e9-8161-e7ba8b856571.png)
 After which I applied` Gaussian_blur` on it with` ('maximum sigma: ', 1.1507831018668693)`. Here is the image.
![Screen Shot 2019-06-28 at

[2019-06-28 19:19] alzaia commented on #223
I think the only noise augmentation we used in our data aug. pipeline was the gaussian blurring. Not sure why it is called `noise_addition` in the dictionary though (maybe a refactoring issue at some point from us).

I did do some noise addition on my own but that was unrelated to the data augmentation pipeline, it was just to [test the robustness to noise](https://github.com/neuropoly/axondeepseg

[2019-06-28 19:27] vs74 commented on #223
Thanks @alzaia. I think for the time being I will change key` noise_addition` to  `gaussian_blur`as  it not required in current pipeline of data augmentation. If required later I will amend Gaussian_noise to the `data_augmentation.py` and `config file`.

[2019-06-29 17:52] Stoyan-I-A opened #229 "[FSLeyes_integration] Modify the image loading process to make use of the new 2D support"
A new version of FSLeyes has been released. The 2D support has been added. More info : https://users.fmrib.ox.ac.uk/~paulmc/fsleyes/userdoc/latest/changelog.html
TODO:
- Remove the png to NIfTI conversion
- Check if it is possible to obtain the file path of an already loaded 2D overlay

[2019-07-01 23:00] Stoyan-I-A commented on #209
2D support was added to FSLeyes. However, the software seems to have issues when loading certain images. I tried to load a few images but an error poped up on most of them.
More info on https://github.com/pauldmccarthy/fsleyes/issues/23

[2019-07-02 18:54] vs74 commented on #74
@jcohenadad. I was trying to reproduce the error due to patchy appearance. Do you remember where the image is taken from ? I checked in Mikula dataset but none of the images resembled to this one.

[2019-07-02 19:07] jcohenadad commented on #74
@vs74 i think it's from OSF: https://osf.io/yp4qg/, NYU or Vanderbilt site. If you cannot find it, just download this image from this thread on github ;-)

[2019-07-02 20:16] Stoyan-I-A opened #230 "Unable to segment a large TEM image"
![image](https://user-images.githubusercontent.com/43790661/60543093-4a933900-9cca-11e9-8164-b0aa3ad43fd7.png)
[pixel_size_in_micrometer.txt](https://github.com/neuropoly/axondeepseg/files/3352128/pixel_size_in_micrometer.txt)

This image can be found in [OSF](https://osf.io/rtbwc/) under `test_segmentation/test_tem_image/image1_tem/image.png `

I tried to segment it after installing the master br

[2019-07-02 20:40] vs74 commented on #230
@Stoyan-I-A, I will look into it.

[2019-07-02 22:54] vs74 commented on #230
@Stoyan-I-A, I have fixed the issue. You can for now use the branch [dev_issue230](https://github.com/neuropoly/axondeepseg/tree/dev_issue230) until it's merged to master.

[2019-07-03 02:53] Stoyan-I-A commented on #230
Nice job! The output image looks good.
![image_seg-axonmyelin](https://user-images.githubusercontent.com/43790661/60559947-03756a00-9d03-11e9-81b5-ca83e4b703fd.png)

[2019-07-03 03:15] jcohenadad commented on #230
issues should only be closed when PR is merged.
this is done automatically

[2019-07-03 15:18] #230 closed

[2019-07-03 18:29] #223 closed

[2019-07-03 19:07] vs74 commented on #74
![34v6sy](https://user-images.githubusercontent.com/31419210/60617430-b85e6400-9da1-11e9-8c50-359b076242ba.gif)
I tried to reproduce the above patchy edge by downloading gif from GitHub, however I didn't get the patchy appearance of segmentation results.Though the results were quite good. The following syntax used was used to produce the above images:
`axondeepseg -t TEM -i /Users/vasha_admin/Pych

[2019-07-03 19:07] #74 closed

[2019-07-04 08:05] #225 closed

[2019-07-08 13:36] mathieuboudreau commented on #229
Done by @Stoyan-I-A in 3d046e7

[2019-07-08 13:47] mathieuboudreau commented on #74
Curious to know what commit number resolved this, I might jump a few spots in the past few months to see what fixed this.

[2019-07-08 16:29] jcohenadad commented on #74
the debugging should also include the way @vs74 re-created the image from the downloaded gif as i can see many ways via which the image i used and the image @vs74 used were different (format, quantization, etc.) ;-)

[2019-07-09 01:02] Stoyan-I-A commented on #229
This isn't done yet. The png to NIfTI conversion is still present in the plugin script because the 2D support on the PyPI & conda-forge versions of FSLeyes is still bugged.

[2019-07-09 21:02] vs74 commented on #146
I want to know since `AxonDeepSeg patch` is having usage in `test/data_managment/test_dataset_building.py`, should I implement `axondeepseg_patch` in `AxonDeepSeg/data_managment/dataset_building`,  if not, then where should it be implemented?

[2019-07-30 17:54] #160 closed

[2019-07-30 21:28] vs74 commented on #139
@ Mathieu, could you check if the problem still persists by running script on raw data to convert them into patches ? As the problem lies with gold standard so that could be the probable cause. Regarding data augmentation is concerned it's accurately handling this issue during training (current ADS) so no issue on this side.

[2019-07-30 21:35] vs74 commented on #139
One more point I would like to bring into notice for the `gold standard` that is there should be no background in between `myelin` and` axon`. I believe it should be either `axon` or `myelin`. Some of the gold standard here are having this problem.
![Screen Shot 2019-07-30 at 5 31 20 PM](https://user-images.githubusercontent.com/31419210/62167003-2db14c00-b2f0-11e9-9047-2575dc60b503.png)
What do y

[2019-07-30 21:38] jcohenadad commented on #139
it is a problem

[2019-07-30 21:44] vs74 commented on #139
So, I have 2 questions in this regard : -
1. Should we handle it in Dataset building(from raw datasets to patches) or during training ?
2. Should we replace this value either by **myelin** or by **axon** values else should go we with different approach ?

[2019-07-30 21:54] jcohenadad commented on #139
1. We should fix the gold standard at the first place
2. The answer is in the raw data (ie: the image)

[2019-07-31 04:46] vasudev-sharma opened #239 "Resolve warning due to scikit-image package."
Currently the scikit-image package generates **32 warnings** mostly due to it's depreciation. Most of these warning are related to common problem `XY_TO_RC_DEPRECATION_MESSAGE` and    `Anti-aliasing will be enabled by default in skimage 0.15 to `. Screenshot below shows up the warnings
<img width="1128" alt="Screenshot 2019-07-31 at 12 35 55 AM" src="https://user-images.githubusercontent.com/31419

[2019-07-31 04:56] vs74 commented on #239
@mathieuboudreau, could you look into this issue ?

[2019-07-31 15:58] jcohenadad opened #240 "Repository is too large (350MB)"
We should remove some fat and also host images/binaries/models somewhere else (OSF, mirrors, etc.)

[2019-07-31 16:00] jcohenadad opened #241 "Add README under specific model"
Move the information listed in the [wiki](https://github.com/neuropoly/axondeepseg/wiki/Datasets) under model-specific README files

[2019-08-02 03:27] mathieuboudreau opened #244 "Does Keras require images to be loaded with 3 channels to train data?"
Question for you @vs74,

I just fell on a funny bug in one of my branches (see PR #243 ) while refactoring one of your recently modifications to use Keras.

I noticed that you're loading training data with CV2, e.g.

https://github.com/neuropoly/axondeepseg/blob/a7da6a1e7bf56a84b917045b9cdee1b8d0d48246/AxonDeepSeg/data_management/input_data.py#L39

and that this loads data with three channels (eve

[2019-08-02 03:34] mathieuboudreau commented on #244
If there's no way around that with Keras, I'm wondering if we could instead load it as greyscale but add a singleton dimension (instead of 3!), using something like this: https://docs.scipy.org/doc/numpy/reference/generated/numpy.expand_dims.html

[2019-08-10 15:47] vs74 commented on #244
Actually the model created under `AxonDeepSeg/network_construction.py` is taking 3 dimension as input image. However I can retrain the model and fix this problem ( further which the image would be of single channel). Just to be on the same page the image loaded after this would be of `cv2.IMREAD_grayscale` type just as the same way mask is loaded using `CV2`. Is this fine ?

[2019-08-11 23:19] Stoyan-I-A opened #245 "Unable to segment a TEM image using a script"
I tried to use the FSLeyes plugin to segment the image found in [OSF](https://osf.io/rtbwc/) under `test_segmentation/test_tem_image/image1_tem/image.png `

![image](https://user-images.githubusercontent.com/43790661/62840596-e0b76900-bc51-11e9-89c8-b94cd2df9ebb.png)
[pixel_size_in_micrometer.txt](https://github.com/neuropoly/axondeepseg/files/3490531/pixel_size_in_micrometer.txt)

But it returned

[2019-08-11 23:27] mathieuboudreau commented on #245
Is it possible that you're not using the correct pixel size? Sounds like it expected a patch of 512x512, but got 62x94 when it was processing it. Make sure it didn't use one of the default versions maybe?

[2019-08-11 23:28] mathieuboudreau commented on #245
Or change the resampled pixel size so that it's able to resample 512x512 patches?

[2019-08-12 02:32] Stoyan-I-A commented on #245
I doubt this is causing the problem since I was able to segment the image using the terminal without specifying another pixel size.
I will still try to modify the pixel size to see if it fixes the issue.

[2019-08-12 04:48] Stoyan-I-A commented on #245
I tried changing the pixel size in micrometer to 0.01 (the original pixel size of the image was 0.0025), the last line of the output error became `ValueError: Error when checking input: expected input_1 to have shape (512, 512, 3) but got array with shape (249, 136, 3)`

[2019-08-12 11:58] mathieuboudreau commented on #245
I don't see the way you're passing along the resampled resolution and/or acquired resolution to `axon_segmentation()` in your plugin:

https://github.com/neuropoly/axondeepseg/blob/dfdd57f0dd1e9eb728ac436f0f355efd723c216b/ads_plugin.py#L284-L290

If you don't pass the argument `resampled_resolutions`, by default it uses 0.1:

https://github.com/neuropoly/axondeepseg/blob/dfdd57f0dd1e9eb728ac436f0f

[2019-08-12 22:27] Stoyan-I-A commented on #245
I tried to change the `resampled_resolution` to 0.01. The output no longer returned an error, but the results are not what they should be :
![AxonDeepSeg](https://user-images.githubusercontent.com/43790661/62902621-05284980-bd15-11e9-8e24-edb5627ebff5.png)
I tried other values of `resampled_resolution` and I also tried changing the `acquired_resolution` but the results were similar.

In contrast,

[2019-08-12 22:51] jcohenadad commented on #245
Weird that the few segmented axons on the top image don’t correspond to any axons at the bottom. Are you sure you are inputting the correct image? Without any transformation to it?

[2019-08-12 22:56] mathieuboudreau commented on #245
If the command line is working well, but the plugin isn't, then it can only be due to a difference in how the segmentation is called in your plugin (either not all the same option, or some values are different).

For reference, here is where the command line calls ADS to perform the segmentation:

https://github.com/neuropoly/axondeepseg/blob/785012eb16ab7d8d9c3a2526dc0edf82d35f8ba4/AxonDeepSeg/se

[2019-08-13 14:39] jcohenadad opened #247 "Weird outputs on coveralls"
https://travis-ci.org/neuropoly/axondeepseg/jobs/570662122#L771

doesn't seem like coveralls is doing much here...

[2019-08-13 14:56] mathieuboudreau commented on #247
Are we sure it's not from Coveralls still being down?

[2019-08-13 14:58] jcohenadad commented on #247
you're probably right, [older builds](https://travis-ci.org/neuropoly/axondeepseg/builds/566192428#L764) look fine.
sorry for the false alarm!

[2019-08-13 14:58] #247 closed

[2019-08-13 14:59] jcohenadad commented on #247
p.s. wrongly assumed coveralls was up because other builds in SCT are working fine but i guess it's an intermittent issue...

[2019-08-13 17:01] mathieuboudreau commented on #244
@vs74 Thanks for that - I'll test that out in my branch. Ideally - I'd prefer it if we used imagio instead of cv2 (since all the other I/O handling in ADS uses imageio). Do you think that'll be an issue? Is there a reason why you preferred cv2 to load images, or it was just arbitrary?

[2019-08-13 17:05] vs74 commented on #244
Usage of `CV2` was arbitrary, I am not sure whether `imageio` will lead to an issue ( ideally it shouldn't). While checking this on your branch could you test out with `imageio` as well.

[2019-08-13 17:10] mathieuboudreau commented on #244
Great- thanks! I found out about this feature/issue in a branch where I was trying to consolidate all I/O operations with a custom axondeepseg function to call for consistency, so I'll test it out on that branch too.

https://github.com/neuropoly/axondeepseg/blob/b85496541f38e748601998d8e0d4375a1efb40d2/AxonDeepSeg/ads_utils.py#L253-L271

[2019-08-13 17:41] mathieuboudreau commented on #245
@Stoyan-I-A I just tried debugging this - two things to note.

1 - I encountered the bug referenced in #238, so I assume that to get around this you applied the proposed fix but didn't push it to GitHub, correct? (I had to do that to get something segmented).

2 - I ran the segmentation on your image two ways & printed out the `axon_segmentation()` inputs; using your FSLeyes plugin (with TEM selec

[2019-08-13 17:46] mathieuboudreau opened #248 "Investigate how to properly close TF session in newer versions"
See discussion in PR #238 for further details. There appears to have been a change in tensorflow between version 1.3.0 and 1.13.1 which created that bug, and I'm not 100% that not closing the session is the proper way to handle that, but the fix worked as a temporary measure.

[2019-08-13 20:32] Stoyan-I-A commented on #245
I didn't fix the bug in #238 since it wasn't causing any problem (so far). Since it is a known issue, I simply removed the output lines related to it on the top post.

Thank you for looking into this. I will make modifications to the script and update this issue if I make any progress or encounter problems.

[2019-08-14 02:09] Stoyan-I-A commented on #245
Okay, I managed to resolve the issue. I just need to make modifications to the plugin script.
Here's what I did:
- I set the `resampled_resolution` to 0.01 and the `aquired_resolution` to 0.0025.
- I tried to call `axon_segmentation()` with these parameters. However, I still obtained bad results.
- Instead of calling `axon_segmentation()`, I called `segment_image()` and it returned the same result

[2019-08-14 12:55] mathieuboudreau commented on #245
Great!

What's weird is that from what I see, the only difference that `segment_image()` does is invert the brightness (which nonetheless is a major change).

https://github.com/neuropoly/axondeepseg/blob/ebf74c1a928ef946304d821e1e5abf0b692fd440/AxonDeepSeg/segment.py#L167-L170

@vs74 why do you think that is? Is the TEM training done with inverted brightness too? I wouldn't think it would have to

[2019-08-14 15:10] mathieuboudreau opened #249 "Why is TEM image contrast being flipped, when model should be train on native TEM contrast"
See this code block:

https://github.com/neuropoly/axondeepseg/blame/aa285598371b089242db832ef2a4e8f804c7892c/AxonDeepSeg/segment.py#L64-L67

and issue #245

[2019-08-15 04:25] Stoyan-I-A commented on #245
Fixed in db4cf81abaefb35d8d7c645617e89e154f6cbd9d

[2019-08-15 04:25] #245 closed

[2019-08-21 12:28] mathieuboudreau opened #250 "Training notebook - old trained model in OSF outdated relative with new Keras implementation"
If you try to run the Training notebook but skip section 1.4 directly to section 2, the image segmentation using the trained model that comes along with the data fails and generates the following error:

<details>

[code]

</details>

An updated trained model needs to be packaged with the OSF data.

[2019-08-27 19:26] jcohenadad opened #251 "tensorflow.python.framework.errors_impl.CancelledError: Session has been closed."
After fresh installation of ADS (this commit: https://github.com/neuropoly/axondeepseg/commit/fdb2c8c60d1986fed0c703e862c0f3c22d0ca854) on OSX Mojave, when running `axondeepseg_test` I get the following TF exception:

[code]

[2019-09-03 16:29] Stoyan-I-A opened #252 "Add a button to the GUI that computes and returns metrics"

[2019-09-03 16:31] jcohenadad opened #253 "Verify version of ads_plugin under fsleyes config folder"
Problem: If user updates ADS and the GUI changed, the user will not have the changes reflected in the currently-installed plugin.

Solution: have a caching system within the ads_plugin file, which would be verified upon calling of ADS. If ads_plugin is not up-to-date, make a pop-up window explaining how to update the ads_plugin file.

More info at: https://github.com/neuropoly/axondeepseg/wiki/fsl

[2019-09-03 16:43] jcohenadad opened #254 "Identify axon/myelin files based on the suffix"
Currently, in the GUI, the axon or myelin files are identified by looking for a string in the entire filename. This could be a problem if users call their file: axon12.png --> axon12-myelin.png, axon12-axon.png.

Solution: only work with suffix added by ADS, e.g. search for last string: "-myelin"  or "-axon".

[2019-09-03 16:55] jcohenadad opened #255 "Problem using plugin if there was an error before"
After experiencing an error with the FSLeyes plugin, when trying to re-use it (e.g. load new image, click on "prediction"), the following error message appears:

<details>

[code]

</details>

TODO: add more info about the reproducibility of this bug. Do more tests...

[2019-09-10 15:56] Stoyan-I-A commented on #252
Done in #256

[2019-09-10 15:56] #252 closed

[2019-09-16 14:51] #244 closed

[2019-09-16 16:58] mathieuboudreau commented on #214
I think we're pretty cemented into sticking with FSLeyes now that it's working, so I'll close this issue.

[2019-09-16 16:58] #214 closed

[2019-09-17 16:13] jcohenadad opened #257 "Use adsutils for i/o in ADS plugin"
Needs to be done after merging https://github.com/neuropoly/axondeepseg/pull/182

[2019-09-17 17:26] amartinwong opened #258 "ERROR: tensorflow 1.9.0 has requirement setuptools<=39.1.0, but you'll have setuptools 41.0.1"
I apologize because this probably has an easy fix, but I am not overly familiar with Python and could not find it described in the other issues.

**Describe the bug**
I'm in the process of install axondeepseg
ERROR: tensorflow 1.9.0 has requirement setuptools<=39.1.0, but you'll have setuptools 41.0.1 which is incompatible

**To Reproduce**
Steps to reproduce the behavior:
1. Installed miniconda t

[2019-09-17 19:13] mathieuboudreau commented on #258
@amartinwong Sounds like the `[setuptools](https://pypi.org/project/setuptools/)` package that you have installed by default in your virtual environment is outdated. Could you try running `pip install --upgrade setuptools` then try the AxonDeepSeg installation again?

[2019-09-17 19:28] amartinwong commented on #258
Thank you for your quick reply! It seems that the `setuptools` package miniconda installed is too new (it's version 41.2.0) and the error message is saying that the tensorflow will only work with 39.1.0 or below. When I tried running `pip install --upgrade setuptools` it reinstalled 41.2.0.

[2019-09-17 19:32] mathieuboudreau commented on #258
Oh sorry, I saw the version symbol wrong. You could try `pip install setuptools==39.1.0` instead.

[2019-09-17 19:35] amartinwong commented on #258
Thank you, that worked!

[2019-09-17 19:54] mathieuboudreau commented on #258
Great! Thanks for letting us know about this - I'll update the requiremznts file so that it downloads the needed version of that package

[2019-09-17 20:27] amartinwong commented on #258
Thank you again, I sent you an email about this as it is somewhat off topic for this issues, but am hoping to use the program to analyze axons in light micrographs.

[2019-09-17 20:38] mathieuboudreau commented on #258
Cool!

Another thing - are you sure you activated your conda environment? And that you have the most up-to-date AxonDeepSeg version downloaded? I'm asking because our installation requirements file (https://github.com/neuropoly/axondeepseg/blob/master/requirements.txt) should be trying to install tensorflow 1.13.1, not 1.9.0 as you say in your post title. So either you're trying to install axondee

[2019-09-17 20:54] amartinwong commented on #258
I checked and my AxonDeepSeg version is 2.2, my conda environment did need updating, from  `conda-package-han~        1.3.11-py37_0 --> 1.5.0-py37h1de35cc_0` Though before I updated it, when I ran `AxonDeepSeg_test` it passed, post-updating it continued to pass.

[2019-09-17 21:02] mathieuboudreau commented on #258
Ok, no worries! Just wanted to check =)

[2019-09-18 01:08] mathieuboudreau opened #259 "FSLeyes plugin: Add support for jpeg/jpg file extensions"

[2019-09-19 15:18] jcohenadad opened #260 "Upload images and labels used to generate the models on public repository"
The images and labels we used to generate ADS models should be made available on OSF, so that:
- it gives us an opportunity to version our models with a publicly-available dataset (excellent for comparison).
- it gives other groups an opportunity to test other approaches against ADS

[2019-09-19 22:46] mathieuboudreau commented on #260
Should we upload this data to the AxonDeepSeg OSF, or your separate histology OSF project?

[2019-09-20 00:22] jcohenadad commented on #260
I would suggest ADS OSF (for now)

[2019-09-20 12:01] mathieuboudreau commented on #260
To do:

* [ ] Copy the folders */duke/projects/axondeepseg/raw_data/data_SEM* and */duke/projects/axondeepseg/raw_data/data_TEM*
* [ ] Delete all the other subfolders besides *3_done/*
  * @alzaia please confirm if that the training was done using any of the other subfolders (*0_to_segment/*, *1_to_correct/*, and *2_to_check/*), some of which have images in them.
* [ ] Cleanup *3_done/* so that it

[2019-09-20 12:13] mathieuboudreau commented on #260
Actually for TEM there is a guide in another folder for the splitting of the datasets. Not for SEM though.

TEM:

[code]

I concur that 20160718_nyu_mouse_25_0002 does not contain a proper dataset (it only contains one file, image.png (missing the mask.png), and as shown below, is not actually a raw image file)

![image](https://user-images.githubusercontent.com/1421029/65326031-0dcd3480-db8b-11e9

[2019-09-20 15:21] jcohenadad commented on #260
no, let's be pragmatic and just upload a clean dataset, as heterogeneous as possible, and with ground truth as good as possible

[2019-09-20 16:49] alzaia commented on #260
@mathieuboudreau You are right, only the samples under 3_done/ were used for the training.

[2019-09-20 16:52] alzaia commented on #260
@mathieuboudreau and yes, all the TEM samples of the mouse splenium had the same pixel size.

[2019-09-24 00:11] Stoyan-I-A commented on #259
Added in https://github.com/neuropoly/axondeepseg/commit/9a6f98efa9ec4869ece4927c5d63ddd6e9e4ea16

[2019-09-24 16:12] jcohenadad opened #262 "Introduce pixel size to show correct distance in FSLeyes"
By default, FSLeyes assigns 1 vox = 1 mm, yielding wrong distance when looking at an image through FSLeyes, as shown below:
![Screen Shot 2019-09-24 at 12 11 04 PM](https://user-images.githubusercontent.com/2482071/65529698-a124a380-dec4-11e9-8e91-1bd5427b4c43.png)

It would be nice take pixel size into consideration when displaying the voxel-to-absolute coordinate relationship.

[2019-09-24 16:14] jcohenadad opened #263 "Different coordinate system between FSLeyes and ADS output morphometrics"
The output morphometrics excel file of ADS is giving coordinates which do not correspond to the coordinates shown in FSLeyes.

One solution would be to flip along Y the image on FSLeyes (needs to be checked).

[2019-09-25 01:21] mathieuboudreau commented on #260
Done.

SEM: https://osf.io/vrdpe/
TEM: https://osf.io/uewd9/

[2019-09-25 01:21] #260 closed

[2019-10-01 01:29] Stoyan-I-A commented on #263
In https://github.com/neuropoly/axondeepseg/commit/63be0f43c5e5a92ffacf18e42ec0fbff66642060, I made it so the images are flipped on FSLeyes. It seems to fix the coordinate issue. However, users might find it weird that the displayed image is flipped. Perhaps another solution might be to rearrange the image just for the morphometrics computation.

[2019-10-01 16:08] mathieuboudreau commented on #249
Answer: because the contrast of the TEM patches that we trained were manually inverted. I'm going to try training an updated model with the uninverted contrast, and remove this hack.

[2019-10-01 16:37] jcohenadad opened #264 "Out segmentation looks pixelated at border, beyond native resolution"
When applying ADS model on an image with better resolution than the model used, the output segmentation looks "pixelated", as shown below:

![Screen Shot 2019-10-01 at 12 33 53 PM](https://user-images.githubusercontent.com/2482071/65981873-012cc400-e448-11e9-809c-9c84a55a0e5a.png)

This is caused by the resampling from the lower res patch to the native resolution. A way to mitigate this effect wou

[2019-10-02 20:11] jcohenadad opened #265 "Add units in output morphometrics"
e.g.: axon_area[µm2], axon_diam[µm]

[2019-10-02 21:39] jcohenadad opened #266 "Retrain models including images from collaborators"
Since we start to get images (especially TEM) from collaborators, it would make sense to include them in the training of the next generation of models. That would ensure better performance for our collaborators (and potentially future users).

[2019-10-14 17:34] #159 closed

[2019-10-14 17:34] #162 closed

[2019-10-14 17:34] #191 closed

[2019-10-14 17:34] #192 closed

[2019-10-14 17:34] #193 closed

[2019-10-14 17:34] #201 closed

[2019-10-14 17:34] #209 closed

[2019-10-22 16:35] jcohenadad opened #268 "Improve axon filling method"
Various improvements include:
- Move the algorithm of [on_fill_axons_button](https://github.com/neuropoly/axondeepseg/blob/master/ads_plugin.py#L490) outside of the file `ads_plugin.py` to ADS new library: `postprocessing.py`.
- the method [get_myelin_centroids](https://github.com/neuropoly/axondeepseg/blob/master/ads_plugin.py#L540) should be renamed `get_axon_centroids` (as well as the input var

[2019-10-22 16:43] jcohenadad opened #269 "Add a scaling parameter instead of using native resolution for prediction"
Sometimes, specifying a resolution which is different from the native acquisition resolution produces better prediction. The current problem is that when computing morphometrics, the specified resolution is used, causing morphometrics results to be wrong.

To overcome this issue, we should add a "scaling" parameter, that would fictively change the native resolution of the image, independently from

[2019-10-23 12:36] mathieuboudreau opened #270 "[BUG, GUI] "Load Mask" button should load a mask with both axon and myelin, not axon or myelin."
This feature requests comes from a user email.

See function here below. I don't see many cases where users want to load just an axon or just a myelin mask, it's better off if we make this button only support loading an image with both axon and myelin masks (for now at least, unless asked otherwise). This is also the behaviour the user expects when clicking this button (because there is no choice

[2019-10-23 18:23] jcohenadad commented on #270
Agreed, let's limit to axon+myelin masks. We should specify it in the ads_plugin docstrings, including specifications of this mask (values for myelin and axons, data format, number of channels, etc.)

[2019-10-30 02:29] jennyoon opened #272 "G-ratio of Individual Axons"
There isn't a problem with the code or program, but I had a question about calculating the g-ratio of individual axons. The notebook, morphometrics_extraction.ipynb, gives the g-ratio average of all the axons in a given image. I was wondering if there is a way to get the individual g-ratio of all the selected axons in an image?

Thank you!

[2019-10-30 15:34] mathieuboudreau commented on #272
Hi @jennyoon !

Yes there is. The easiest way you can get that information is by using our new plugin for FSLeyes; after you run the segmentation, there is a button that you can click to get the morphometric data (e.g. g-ratio) for each individual axon (or objects identified as objects).

Here is a short tutorial on how to get the plugin setup (it's very recent): https://www.youtube.com/watch?v=dz

[2019-11-01 18:47] vs74 opened #273 "Image dimension consistency issue while performing patching"
**Bug**
When patching is performed on a raw dataset to create image of a fixed patch size ( for example `512 X 512 `), it produces images of different dimension ( here in this case some images were of `511 X 512` other's of `512 X 511` dimension). For detailed information see[ here](https://github.com/neuropoly/axondeepseg/pull/226#issuecomment-548898381)

[2019-11-03 20:07] mathieuboudreau opened #274 "Centralize mask cutoff values"
See https://github.com/neuropoly/axondeepseg/pull/271#issuecomment-547520293

[2019-11-03 20:16] mathieuboudreau commented on #270
Resolved in #271

[2019-11-03 20:16] #270 closed

[2019-11-12 17:14] mathieuboudreau commented on #273
See proposed solution here: https://github.com/neuropoly/axondeepseg/pull/226#issuecomment-548945688

[2019-11-12 19:17] #166 closed

[2019-11-12 19:17] #170 closed

[2020-01-07 17:40] jcohenadad opened #278 "Remove the "_v1" suffix in models on OSF and on this repos"
The versioning is now tracked by OSF, more info [here](https://github.com/neuropoly/axondeepseg/wiki/Template-for-Readme.txt)

[2020-02-03 05:28] Paasu opened #279 "Training with different resolution images"
Am I able to train images that have a different resolution? The images I wish to train and use are
TEM images at 4008x2672 pixels and 0.0016*um/pixel. Sorry if this is a stupid question, I ask because the training guildline > 1.2 says that I should use images that are 0.01um/pixel. Does that mean I am unable to use my own images. And if I can't, is there any current solution to this?

Thanks.

[2020-02-03 19:53] mathieuboudreau commented on #279
Hey @Paasu !

There are no stupid question - don't fret with reaching out if you some parts of our software or user interface isn't clear enough for you, the user.

I just reread that section  of [training_guideline.ipynb](https://github.com/neuropoly/axondeepseg/blob/master/notebooks/training_guideline.ipynb), and saw that the "Important" note was not clear in this context. That text is describin

[2020-02-06 01:48] Paasu commented on #279
Hey @mathieuboudreau

Thank you very much for the prompt reply and I apology for my delayed one.

Your response was clear. My current goal is to train the program with demyelinated axons and axons with decompacted myelin sheaths and compare the results with manual measurement. Perhaps you have other ways I could directly contact you?

Thanks.

[2020-02-09 12:15] Paasu opened #280 "Training Issue: Cannot locate image"
**Describe the bug**
Says the it cannot locate image_1920.png. The images in the folder go up to image_1919.png.

**To Reproduce**
Steps to reproduce the behavior:
Running the training guidline notebook. We used a modified version.

**Desktop (please complete the following information):**
 - OS: Linux Solus Budgie
 - Version 4.1

[error.txt](https://github.com/neuropoly/axondeepseg/files/4176842/e

[2020-02-10 11:10] AlmudenaRobledo opened #281 "dataset building"
I am trying to prepare a data set to train a model. I created folders with the raw images and manually made myelin masks (using GIMP) and am running the guide_dataset_building notebook but I get the following errors:

"ValueError: Max value == min value, ambiguous given dtype" when splitting the dataset into patches

Any help is appreciated!

[2020-02-10 12:19] AlmudenaRobledo opened #282 "General help"
We are trying to use AxonDeepSeg to segment SEM images of human hippocampus samples. I am trying to find the best way to go about this but I am running into some issues.

The default model has a very high error on our images and we wanted to try to train a new model with our samples and myelin masks that I have made manually. These were made using the GIMP program as suggested. In order to obtain

[2020-02-10 12:20] #281 closed

[2020-02-10 13:05] mathieuboudreau commented on #281
@AlmudenaRobledo did you resolve your issue? If so, would you mind sharing what you did?

[2020-02-10 13:14] AlmudenaRobledo commented on #281
No, sorry, I opened a new issue with more details and other problems I am having thinking it might be more helpful.
Thanks!

[2020-02-10 15:00] mathieuboudreau commented on #280
Hi @Paasu! It sounds like to me that it's looking for an image patch beyond what you generated. Not sure why this would come up in the training guidelines notebook. To help debug, could you please share the following things:

1 - The branch that you're using the code on/
2- The git commit # if you know it
3- Are you using some of the data that we provided, or your own data? If you're using your ow

[2020-02-10 15:07] mathieuboudreau commented on #282
Hi @AlmudenaRobledo !

We've encountered that error before (https://github.com/neuropoly/axondeepseg/issues/130) and I know I've encountered myself a few times; if I recall, I think it might occur when the segmentation results in a mask with all pixels having the same value (i.e. all white, all black). This could be happening for several reasons, but we'll help you debug it!

Would you mind sharin

[2020-02-10 15:07] mathieuboudreau commented on #281
Ok no worries! I'll just comment here that you moved your issue to #282 for future reference.

[2020-02-11 09:58] AlmudenaRobledo commented on #282
@mathieuboudreau Thanks for your help!
Sample Images:
![image](https://user-images.githubusercontent.com/52037703/74225640-65477a80-4cbb-11ea-916b-ceaefb95f2c8.png)
![mask](https://user-images.githubusercontent.com/52037703/74226695-4ba73280-4cbd-11ea-839b-6ba36cdc2e51.png)

Notebooks:
http://localhost:8888/notebooks/guide_dataset_building_SB.ipynb

http://localhost:8889/notebooks/generate_axons_f

[2020-02-11 10:14] AlmudenaRobledo commented on #282
Lastly, the screenshots for fsleyes:

I tried to use the fill axons function. I loaded the raw image and the sample myelin mask (with myelin in the name) and clicked the fill axons botton. These are the results I get:
![Screen Shot 2020-02-11 at 11 08 58 AM](https://user-images.githubusercontent.com/52037703/74227898-b2c5e680-4cbf-11ea-947e-a0a914c800d0.png)
![Screen Shot 2020-02-11 at 11 13 02 AM

[2020-02-11 13:48] mathieuboudreau commented on #282
Great - thanks @AlmudenaRobledo ! @jcohenadad @Stoyan-I-A it sounds like maybe their error occurs because they don't have axon masks, since we've seen that error before when some masks had all the same value. Has there been more work done on the "Fill axons" feature, or is that still a work in progress?

@AlmudenaRobledo in the next few days, a feature will be merged into the master/main branch th

[2020-02-11 14:24] Paasu commented on #280
Hi, thank you for responding.

1. The branch we used was axondeepseg-master.
2. We didn't use git, we just cloned from github
3. We are using our own data.
![image](https://user-images.githubusercontent.com/50454820/74244141-e3fee080-4cd8-11ea-9dd1-58aa59d00918.png)
^ Above is one of the images we are using in training. I was unsure what the mask image was meant to be, I assumed it to be a copy of

[2020-02-11 15:41] AlmudenaRobledo commented on #282
@mathieuboudreau  I created some axon masks using fiji imageJ and was able to build the data set without a problem. I proceeded to try out training the model but ran into some more errors:

ValueError: cannot reshape array of size 65536 into shape (512,512,1)

in the following notebook: http://localhost:8889/notebooks/training_guideline_SB.ipynb

I'll keep an eye out for the updates in case they h

[2020-02-11 16:56] mathieuboudreau commented on #282
Hi @AlmudenaRobledo

What that error is saying is that it created a 1D array of your image, and that array has 65536 values (i.e. pixels).

Then, the training tried to reconstruct an image of dimensions 512x512, but it couldn't do so.

Dividing 65536 by 512 gives 128. So that means that your original images (i.e. patches) are probably of size 256x256, not 512x512.

If you look at the "trainingset_

[2020-02-11 17:46] mariehbourget commented on #278
I’ve reviewed the Readme.txt for version tracking.
Everything is clear to me but I have a question about the steps 2 and 3 to train the model.
My understanding is that we want to be able the track the condition of training for each model.
In that case, is it important to document which images were used in the training set and which images were used in the validation set?

In the guide_dataset_buil

[2020-02-11 18:16] mathieuboudreau commented on #278
Thanks @mariehbourget ! In the add_split branch, the way we can document/reproduce the split is in fact using the seed. For the same dataset, the seed should make it that the same exact 80:20 split of images will be reproduced - you can test this out. For a different split, the final training/validation sets will be different. I preferrred this way over doing it manually because when you do it man

[2020-02-11 19:13] mariehbourget commented on #278
Thanks @mathieuboudreau !
Would it be important for the purpose of the Readme.txt to document the split percentages and the seed?

[2020-02-11 23:30] vs74 commented on #278
@mariehbourget, I also believe that for steps 2 and 3 there should be some changes
[code]

Because i think that the only thing which would change here is the models (fine tuning, new model implementation, etc..) not the data, so instead of pointing link to the data we should point  link to the newly trained models in the OSF storage. What do you think @jcohenadad  and @mathieuboudreau ?

[2020-02-12 05:11] Stoyan-I-A commented on #282
@mathieuboudreau From what I'm see in the FSLeyes screenshots, it seems like there is an axon mask (it's just that it is where there should be myelin instead). In the current version of the plugin, I would've thought that the _fill axon_ button would fill up the entire image with an axon mask since it applies a flood-fill at the center of mass of each axon object. Strange... I'll look into this so

[2020-02-12 05:38] Stoyan-I-A commented on #282
Well, I tested it and indeed, the generated corrected image is filled up with with an axon mask. So this algorithm works as I expected. It's just that FSLeyes will not display an image with a single intensity unless you click on the button next to the colour mapping bar.

That being said, there is an open issue about improving this feature (https://github.com/neuropoly/axondeepseg/issues/268)

[2020-02-12 14:09] mathieuboudreau commented on #278
How can we add the updated link to the newly trained model when it hasn't been uploaded yet (it should be uploaded with the README file). Also, as long as it has the same name, the link will never change, only the version number on OSF.

[2020-02-15 19:45] vs74 commented on #278
Yeah, that makes sense. I will make the necessary changes. Thanks @mariehbourget for the feedback.

[2020-02-15 20:24] vs74 commented on #278
One question, though it's not related to this issue, the SEM raw dataset hosted on OSF is merely of size  **10 MB** whereas the raw dataset size of **TEM > 1GB**. Just curious, is the raw dataset of SEM correct ?
NOTE: - I didn't validate the raw dataset of SEM on the OSF storage.

[2020-02-15 22:09] mathieuboudreau commented on #278
Why'd I just get 10 alerts of data being uploaded on osf? If you're testing something, it shouldn't be done on the main models, you should use a fake model name that can then be deleted afterwards. OSF tracks every updated upload, so there's a lot of versions now that aren't clear why they exist, and will be difficult to understand in the future.

[2020-02-15 22:45] mathieuboudreau commented on #278
Yes, it's correct. See paper for more details on the quantity and resolution of data for each model.

[2020-02-15 22:53] vs74 commented on #278
Sorry for that. I mistakenly deleted SEM main model on OSF ( thinking that in order to update SEM model,  I had to first delete SEM model and and then re upload it ). Doing this, the new SEM had a version of 1, for which I had to update the SEM model to synchronise with the TEM versioning which was 4. I  apologise for this mistake.

[2020-02-17 14:55] mathieuboudreau commented on #278
@vs74 ok, thanks for clarifying. I looked into it, and there's no easy to "protect" files from being deleted. Also, OSF only asks for a quick confirmation ("Are you sure you want to delete this file?"), and doesn't really make it clear to the user that the files will be deleted permanently and that this is unreversible. Therefore, to protect the files currently on OSF, I've removed the write permi

[2020-02-18 17:06] mathieuboudreau opened #283 "Possible to run GPU/Tensorflow processing in a Docker container?"
Something to explore. Please post any information you fine in the issue comments.

[2020-02-18 17:28] jcohenadad commented on #249
@mathieuboudreau is this issue fixed with the recently-trained model (without the manual flipping hack)?

[2020-02-18 18:21] mariehbourget commented on #280
Hi @mathieuboudreau ,
Here are the tests I have done so far:
1) I have run the guide_dataset_building notebook to generate patches from the image.png and mask.png from data_test in AxonDeepSeg.
2) Then I ran the notebook training_guideline sent by Paasu on the master branch.
I was unable to reproduce the problem while training, all the images are located correctly.

[2020-02-28 22:31] mathieuboudreau commented on #279
Hi @Paasu  !

Have you looked into your issue a bit more and tried some of my tips? If you want to contact me to setup a video call, my email is on my profile: https://github.com/mathieuboudreau

[2020-02-28 22:33] mathieuboudreau commented on #282
Hi @AlmudenaRobledo,

Have you explored a bit more your training since I mentionned the issue about your patch size? If you'd like to discuss this software more over a video call sometime, you can email me to schedule one. My email is on my profile: https://github.com/mathieuboudreau

[2020-03-01 19:30] #274 closed

[2020-03-02 08:05] Stoyan-I-A commented on #278
Note for this Issue:
 [This test](https://github.com/neuropoly/axondeepseg/blob/bb96c56c8f5132449c98fb11c1179d86ccddc36f/test/test_ads_utils.py#L71) needs to be modified before closing this issue.

[2020-03-02 13:58] vs74 commented on #278
I modified the test in my branch.
    On Monday, 2 March 2020, 09:05:48 AM GMT+1, Stoyan I. Asenov <notifications@github.com> wrote:

Note for this Issue:
This test needs to be modified before closing this issue.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-03 15:45] mariehbourget commented on #283
https://www.tensorflow.org/install/docker

[2020-03-03 17:23] Stoyan-I-A commented on #229
This issue was fixed in #182

[2020-03-03 17:23] #229 closed

[2020-03-13 02:31] mathieuboudreau opened #285 "Re-instate init_ads() for bug tracking"
As of merging PR #226, the bug tracking functionality ceased to work correctly in travis, likely due to a combination of the new download_data() call during installation, and the requirement to ask the user for consent by providing an input. Trying both to `yes` the py.test and forcing a no call if py.test is in the system (which it isn't during the installation) fail the installation. We'll need

[2020-03-13 02:39] mathieuboudreau opened #286 "Remove hardcoded paths in download_data()"
Introduced when merging #226

https://github.com/neuropoly/axondeepseg/blob/dae4a1dcd90539cfcc7347d38cb8264395de8a66/AxonDeepSeg/models/download_model.py#L12-L13

Should probably used the Path() function as well as relative paths to the main repo location.

[2020-03-13 04:04] #19 closed

[2020-03-13 04:04] #148 closed

[2020-03-13 04:04] #240 closed

[2020-03-13 04:04] #241 closed

[2020-03-13 04:04] #278 closed

[2020-03-13 23:59] vs74 commented on #273
Closing this issue as have been solved in PR #226 .

[2020-03-13 23:59] #273 closed

[2020-03-14 00:00] #217 closed

[2020-03-17 15:56] vs74 opened #287 "Format Changelog"
**Describe the bug**
After the merge of PR #226, In [RTD](https://axondeepseg.readthedocs.io/en/latest/documentation.html#changelog) under the **changelog.MD** section specifically version 3, the changes have been poorly formatted, unlike the previous changes where each change was separated by bullet points.

See the screenshot attached for more information

<img width="752" alt="Screenshot 2020-0

[2020-03-17 16:02] mathieuboudreau commented on #287
Great thanks! That might be a small formatting issue, like wrong number of spaces or tabs instead of spaces.

[2020-03-17 16:08] vs74 commented on #287
@mariehbourget, can take a look at it since she is working on Documentation.

[2020-03-17 18:59] mariehbourget opened #288 "GaussianBlur in data augmentation"
GaussianBlur doesn’t have the option for nearest neighbour interpolation in the release 3.0.
As discussed:
- this may cause problems with mask having multiple classes after augmentation,
- we could do our own nearest neighbour by thresholding the results of the augmentation,
- do we really want to have the GausianBlur option for data augmentation? ( see #21 )

[2020-03-17 19:01] jcohenadad commented on #288
i don't think we do-- @mariehbourget i suggest you start a PR which purpose will be to remove GaussianBlur option. Thanks!

[2020-03-17 22:20] mariehbourget commented on #105
Hi @jcohenadad , I realised after changing category labels that the "category:" string was use in the wiki for easy referencing in guidelines for contributions: https://github.com/neuropoly/axondeepseg/wiki/Guidelines-for-contribution).
Would you prefer I update the wiki in some way or go back to the labels with “category:”? Thanks!

[2020-03-17 22:25] jcohenadad commented on #105
Please update the wiki

[2020-03-17 23:15] mariehbourget commented on #105
For now, I wrote the “category” string in the description of the labels instead of in their names. It keeps the wiki clean and preserves the easy referencing.

[2020-03-18 01:56] jcohenadad commented on #105
@mariehbourget, ok i feel we have too many categories now, and also there is a mix between "type" and "context". For example, both "bug" and "GUI" are now categories, but in fact we could have a bug in the GUI, meaning that both labels would be needed. In fact, we need to separate type and context. This will be helpful to create changelogs that look like [this](https://github.com/neuropoly/spinalc

[2020-03-18 15:08] mariehbourget commented on #105
Thanks for your feedback.
I’ve made the changes. From the list above, I moved Refactoring to “context” and Installation to “category”. I also added Testing to “category”. This is consistent with Wiki guidelines and with the sct changelog example.

[2020-03-21 14:35] Paasu commented on #280
Hello everyone,

I have fixed the issue. I attempted everything a second time but on a different OS (OpenSUSE Leap 15.1) and so far the training works, the final test display of an image will not work however, I will post a new issue for that.

Thank you everyone for the help!

[2020-03-21 14:35] #280 closed

[2020-03-21 14:53] Paasu opened #289 "Error after training finishes (Test image display issue?)"
**Describe the bug**
After running the training file, the training runs fine but after it is done I get an error message which I am fully unsure what it is. The test image doesn't display either. I used a master version of branch from around early-mid February.
Console log: [error.txt](https://github.com/neuropoly/axondeepseg/files/4363126/error.txt)

**To Reproduce**
Steps to reproduce the behavi

[2020-03-21 14:57] Paasu commented on #279
Hi @mathieuboudreau

Sorry for the late response. I have indeed tried your advice and built my own dataset and have been attempting to train. I have ran into some new issues which I have posted [here](https://github.com/neuropoly/axondeepseg/issues/289). As for the video call, thank you very much for the offer, I will send you an email if I need your assistance.

Thanks again.

[2020-03-22 23:17] jcohenadad commented on #289
@Paasu it doesn't seem like you are using a venv as explained [here](https://axondeepseg.readthedocs.io/en/latest/documentation.html#virtual-environment)

[2020-03-23 00:30] mathieuboudreau commented on #289
Actually, there also seems to be a missing import in a file.

[apply_modely.py](https://github.com/neuropoly/axondeepseg/blob/274ab3748e214f53c073f75cd6b98e1db84eab4f/AxonDeepSeg/apply_model.py) is calling numpy using `np`, so it should have an `import numpy as np` call at the top, and it doesn't.

Tests didn't fail to flag us that, and they should have.

They didn't fail because apply_model is no

[2020-03-23 13:05] Paasu commented on #289
I downloaded the new version and ran the training.py in it but I get another error.
[error2.txt](https://github.com/neuropoly/axondeepseg/files/4369462/error2.txt)

[2020-03-23 15:43] vs74 commented on #289
@Paasu, I tried to resolve the issue, could pull the recent changes mode in the #290 and see if it resolves your issue ?

[2020-03-26 00:02] mariehbourget commented on #287
349271f

[2020-03-26 17:22] #287 closed

[2020-03-30 15:03] Paasu commented on #289
@vs74 Tried it on the changes you made and the new master branch I downloaded today, same error. For what it is worth, I have had to type import os in train_network.py everytime I have tried to train on a new AxonDeepSeg.

[2020-03-31 15:48] mathieuboudreau commented on #289
@Paasu I think your config struct in the training.py file you shared is missing an option, which is what your error is indicating.

In the file you uploaded above, you would need to change

[code]

to

[code]

[2020-04-01 04:39] Paasu commented on #289
Thank you very much @mathieuboudreau everything seems to working fine. I did this on #290 and there is no current issues.

[2020-04-01 04:39] #289 closed

[2020-04-01 09:04] Paasu opened #292 "How to use a model I've trained on another system."
I have been training a model at home and I would like to use the model to segment images on a computer at my lab? How would I proceed doing that? Also, if I want to train 300 epochs but don't want to leave my computer on for 50 hours straight can I just train 50 epochs every night? Would it be the same or does it make it different?

[2020-04-01 11:29] alexfoias commented on #292
@Paasu i’ll send you the details

[2020-04-03 12:11] vs74 commented on #292
1. If you want to reuse use model, then you could save you model via this command once it has been trained `model.save("model_name.h5)` and to reload this saved model you could do this `model.load_model(model_name.h5)`. For more information to save and reload model you could refer this [blog post](https://machinelearningmastery.com/save-load-keras-deep-learning-models/)
2. As per you  second quest

[2020-04-03 12:17] vs74 commented on #292
Also note in AxonDeepSeg we have implemented this behaviour
1. For loading the models [here](https://github.com/neuropoly/axondeepseg/blob/715f0e61cf17313155b20d8cf6d1e44549a6c222/AxonDeepSeg/train_network.py#L272)
2. For using checkpoint callbacks [here](https://github.com/neuropoly/axondeepseg/blob/715f0e61cf17313155b20d8cf6d1e44549a6c222/AxonDeepSeg/train_network.py#L221)

[2020-04-14 22:56] mathieuboudreau opened #293 "TEM data not segmenting well in version 3.0"
Just discovered this while looking into #249 (but I think this problem is unrelated to that one).

* Downloaded the most recent version of AxonDeepSeg
* Downloaded one of the TEM images used in for the training on OSF as a sample dataset  to test with: https://osf.io/uewd9/
* Ran the command line segmentation call: axondeepseg -t TEM -i image.png -s 0.00236
* Output was very poorly segmented (see

[2020-04-14 23:33] mathieuboudreau commented on #293
I'm currently re-processing the TEM model, I'll inform you folks of if this resolved the issue when it's done.

[2020-04-15 06:14] panpeterlin commented on #293
Hi,  I also downloaded the latest version and tried it on test TEM image and it did not work well. Have you solved this issue or not?

[2020-04-15 13:49] mathieuboudreau commented on #293
I tried training a new model and it did not work, which was suspicious since training worked well for SEM data. The only main difference between the two in the code that I could think of was in fact the block of code talked about in #249, so I removed the TEM condition and it ended up segmenting well with the old trained model. So all that should be needed is merging PR #294 - no need to re-upload

[2020-04-15 13:54] mathieuboudreau commented on #293
See here for new gif of segmented TEM images (raw image, manual mask, segmented image):

![out](https://user-images.githubusercontent.com/1421029/79345386-9dfa0f00-7f0b-11ea-90c6-05bb0f029506.gif)

[2020-04-15 16:27] mathieuboudreau commented on #293
Resolved in #294. @panpeterlin if pull master or redownload the software, the issue should be resolved for you too.

[2020-04-15 16:27] #293 closed

[2020-04-15 16:27] mathieuboudreau commented on #249
Resolved in #294.

[2020-04-15 16:27] #249 closed

[2020-05-09 14:16] Paasu commented on #292
Sorry for the late response, but if I am correct, you have already implemented it and I can already do what I originally planned without any changes correct?
I will be able to do 50 epochs per night as planned?

[2020-05-13 07:06] Paasu opened #295 "Do I need to pad my training images?"
I have been training my images recently but have been running into issues, I have padded my images to make sure they are big enough for segmentation but does the padding itself change the training results? The images were originally 4008x2672 pixels but then I padded it to 6000x4000 pixels.

[2020-05-14 20:26] vs74 commented on #295
Hey @Paasu, could you post the log as it would enable to debug the problem ?

[2020-05-14 20:48] Stoyan-I-A commented on #210
Implemented in #275

[2020-05-14 20:48] #210 closed

[2020-05-14 20:50] Stoyan-I-A commented on #253
Implemented in #182

[2020-05-14 20:50] #253 closed

[2020-05-14 20:50] Stoyan-I-A commented on #254
Implemented in #182

[2020-05-14 20:50] #254 closed

[2020-05-14 22:07] vs74 commented on #292
@Paasu, since we were having the GPU resources we didn't felt the need to load the models using the checkpoints. However, for your purpose, you can add   `model.load_weights(filepath_loss)`
 to the `train_network.py` file at [here](https://github.com/neuropoly/axondeepseg/blob/73f0c90b882ea645acac8a069a0e5010a96c52f8/AxonDeepSeg/train_network.py#L248).  Remember that, that if your goal is to let's

[2020-05-15 14:54] jcohenadad opened #297 "Create Docker-based workflow to generate model"
The current problem is that models are not easy to reproduce given that it depends on what data the user downloads, what version of ADS, etc. To mitigate the issue, the idea is to create a Dockerfile that will enable to create a model. More specifically, the specs are:
- Dockerfile will:
  - Download the data from OSF with wget
  - git clone and checkout a specific version of ADS
  - create a conf